@charset "utf-8";
body {width: 100%; min-width:1440px;  }
header {position: fixed; z-index:500; }
.footer {height: auto;}



#section0 {background-image: url('../img/main/bg_main.png'); background-size:cover; background-position: 50% 50%; background-repeat: no-repeat; position: relative;}
	.scr {position: absolute; left:30px; bottom:80px;}
	.scr .scroll {width: 16px; height: 51px; position: relative; background:url('../img/main/scroll.png');background-position:0 -35px; margin-left: 21px; top:-35px; 
  -webkit-animation-name: scroll_main; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: scroll_main;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;}
	.scr span {display: block; width: 58px;  height: 20px; line-height: 20px;  transform: rotate( 90deg );color:#fff; font-family: Lato; letter-spacing:0.1em; font-size:14px; font-weight: 600;}
#section1 {background: #f5f5f5;}
#section2  {background: rgb(255,255,255); background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 100%);}
#section3 {background:url(../img/bg/bg_main03.jpg) no-repeat 50% 0;}
	.main-section__login {width: 290px; margin: 0 auto;}
	.main-section__login input {font-size:20px;}

main {position: relative; height: 100%; overflow:hidden;}

#menu {position: fixed; top:35%; right:30px; width: 36px; }
#menu li { width: 36px; height: 36px; line-height: 36px;  text-align: center;  border-radius:50%; background: rgba(255,255,255,.2); overflow:hidden; margin: 16px 0;}
#menu li a {color: #fff;}
#menu li.active {position: relative; width: 32px; height: 32px; line-height: 32px; border:2px solid #fff;  background: none; }
#menu li.active a {color:#fff;}

#menu.bk li {background: rgba(0,0,0,.06); }
#menu.bk li a {color: #aaa;}
#menu.bk li.active {border:2px solid #222;background: none;}
#menu.bk li.active a {color:#222;}


#fullpage-wrap > .section {position: relative; min-height:945px;}
#fullpage-wrap > .section.footer {min-height:100px;height:auto;}
#fullpage-wrap > .section .main-tit {box-sizing:border-box; padding-top: 140px;}

.checkbox{width:34px;height:34px;}
.checkbox input[type=checkbox]:not(old){margin:0;padding:0;opacity:0;z-index:-10;} 
.checkbox input[type=checkbox]:not(old) + label{display:inline-block;position:relative;top:-12px;left:-12px;}
.checkbox input[type=checkbox]:not(old) + label:after{display:inline-block;width:34px;height:34px;background:url(../img/common/icon.png) no-repeat -54px -54px;position:absolute;top:0;left:0;content:""}
.checkbox input[type=checkbox]:not(old):checked + label:after{background:url(../img/common/icon.png) no-repeat 0  -54px;}

/*.wrap{min-width:1920px;}*/
.main-section01{height:950px;background:url(../img/bg/bg_main01.jpg) no-repeat 50% 0;box-sizing:border-box;padding-top:175px;position:relative;}
.main-section02{height:950px;background:#f5f5f5;box-sizing:border-box;padding-top:175px;position:relative;}
.main-section03{height:950px;background:url(../img/bg/bg_main03.jpg) no-repeat 50% 0;box-sizing:border-box;padding-top:175px;position:relative;}
.main-section04{height:1051px;box-sizing:border-box;padding-top:175px;position:relative;}
/*
.menu01-wrap,
.menu03-wrap,
.menu04-wrap{display:none;}*/
.disn {display: none !important;}
.menu02-wrap .main-step02,
.menu02-wrap .main-step03,
.menu02-wrap .main-step04,
.menu02-wrap .main-step05{display:none;}


.mainV .slide h1 {text-align: center; color: #fff; font-size:90px;}
.mainV .slide h1 small {font-size:28px; display: block; font-weight: 400; line-height: 1.5; padding-bottom: 40px;}
.mainV .slide .num {position: absolute; color: #fff; bottom:;}
.fp-controlArrow {position: absolute; bottom:80px; width: 48px; height: 48px; border-radius:50%; border:1px solid #fff; left:50%; margin-left: 50px; z-index:5; cursor:pointer;}
.fp-controlArrow.fp-prev {margin-left: -100px;}
.fp-slidesNav {position: absolute; left:50%; bottom: 80px;}
.fp-slidesNav ul li a span {display: inline-block; color: #fff;}
.fp-slidesNav ul li:nth-child(1) a span:after {content: '1';}

.main-step01 {height: 650px;}
.main-section__title{text-align:center;}
.main-section__title strong{display:block;font-size:56px;color:#fff;font-weight:400;}
.main-section__title p{font-size:20px;line-height:35px;color:#fff;margin-top:15px;}
.section01-menu {position:absolute;bottom:45px;text-align:center;left:50%;transform:translateX(-50%);width:1430px; }
.section01-menu a{display:inline-block;width:248px;height:248px;text-align:center;background:rgba(255, 255, 255, 0.8);border-radius:124px;margin:0 50px; transition:all 0.3s;}
.section01-menu a:focus {outline: none;} 
.section01-menu a:nth-child(1){margin-left:0;}
.section01-menu a:nth-child(4){margin-right:0;}
.section01-menu a i{display:block;width:165px;height:136px;background:url(../img/icon/main_icon.png) no-repeat 0 0;margin:30px auto 0;}
.section01-menu span{font-size:28px;color:#222;}
.section01-menu a.slick-current{width:300px;border-radius:54px;background:#7fc241;}
.section01-menu a.menu02.slick-current,
.section01-menu a.menu03.slick-current {background: #004e96;}
.section01-menu a.slick-current span{color:#fff;}
.section01-menu a.slick-current i{display:block;width:165px;height:136px;background:url(../img/icon/main_icon_on.png) no-repeat 0 0;margin:30px auto 0;}
.section01-menu a:nth-child(2) i,
.section01-menu a.slick-current:nth-child(2) i{background-position:0 -136px;}
.section01-menu a:nth-child(3) i,
.section01-menu a.slick-current:nth-child(3) i{background-position:0 -272px;}
.section01-menu a:nth-child(4) i,
.section01-menu a.slick-current:nth-child(4) i{background-position:0 -408px;}

.section01-menu .slick-track {transform:translate3d(0px, 0px, 0px) !important;}

.rsv_01 .tell-reserve{margin:40px auto 0;width:380px;font-size:0;}
.rsv_01 .tell-reserve .inp-text {height:64px;padding-left:20px;box-sizing:border-box;background:#fff;border:none;font-size:24px;line-height:64px;width:100%; margin-bottom:12px;}
.rsv_01 .tell-reserve button{width:100%;background:#4171a8;display:inline-block;text-align:center;font-size:24px;color:#fff;height:80px;line-height:80px;}

.rsv_01 .agree {width: 734px; margin: 40px auto 0;}
.rsv_01 .agree:after {content:""; clear: both;display: block; float: none;}
.rsv_01 .agree .inp-checkbox.a {width: 440px; float: left; position: relative;}
.rsv_01 .agree .inp-checkbox.a a {position: absolute; right:45px;}
.rsv_01 .agree .inp-checkbox label {color:#fff;  font-weight:300;}
a.btn_more {padding-right:20px; text-decoration:underline; color:#fff; font-weight: 400; background:url('../img/icon/more.png') no-repeat; background-position:right 9px;}

.main-section__login{margin:40px auto 0;width:380px;}
.main-section__login .inp-text {height:64px;padding-left:20px;box-sizing:border-box;background:#fff;border:none;font-size:24px;line-height:64px;width:100%; margin-bottom:12px;}
.main-section__login .inp-text + .inp-text{margin-top:11px;}
.main-section__login .btn-login{margin-top:25px;height:80px;line-height:80px;display:block;text-align:center;color:#fff;font-size:24px;font-weight:400;background:#4171a8;}

.medical-list{background:#f6f8fa;width:69px;box-shadow:inset 4px 0px 9px rgba(0,0,0,0.2);text-align:center;padding:25px 15px 0 14px;box-sizing:border-box;height:340px;float:left;}
.medical-list a{display:block;font-size:20px;color:#666;margin-bottom:5px;width:40px;height:40px;font-weight:400;line-height:40px;}
.medical-list a.on{background:#4171a8;color:#fff;border-radius:20px;}
.medical-list .slider-box{overflow:hidden;height:285px;}
.medical-list-detail{float:left;background:#fff;width:687px;height:340px;}
.medical-list-detail .scroll-box{height:340px;overflow-y:auto;}
.medical-list-detail li{line-height:40px;padding:24px 0 24px 30px;border-bottom:1px solid #ddd;background:#eef1f4;height:40px;}
.medical-list-detail li a{font-size:20px;color:#333;display:inline-block;padding-right:17px;margin-right:16px;position:relative;font-weight:400;}
.medical-list-detail li a:after{width:1px;height:20px;background:#e1e1e1;content:"";position:absolute;top:14px;right:0;}
.medical-list-detail li a:last-child:afteR{display:none;}
.medical-list-detail li span{display:inline-block;background:#fff;border-radius:20px;font-weight:500;font-size:20px;text-align:center;line-height:40px;width:40px;height:40px;margin-right:30px;vertical-align:top;}
.medical-list-detail li.active{background:#fff;}
.medical-list-detail li.active span{background:#4171a8;color:#fff;}
.medical-list-detail li.active .on{color:#4171a8;}

.medical-doctor{background:#fff;width:756px;height:340px;}

/*길병원 베스트 의료진*/
.doctor {margin-top: 85px; height:440px;}
.doctor .slick-list {width: 110%; position: relative; margin-left: -5%;  height:440px; overflow:hidden;}
.doctor .slick-arrow {position: absolute; bottom:-84px; left:50%; text-indent:9999px; width: 50px; height: 50px; background: url('../img/main/slide_arr.png');}
.doctor .slick-arrow.slick-prev {margin-left: -110px; transform:rotate(180deg);}
.doctor .slick-arrow.slick-next {margin-left: 50px;}
.doctor ul.slick-dots {width: 50px; margin: 60px auto 0; text-align: center;}
.doctor ul.slick-dots:after {content:" / 10"; font-size:16px; color:#888;  font-weight: 600; display: inline-block;}
.doctor ul.slick-dots li {display: none; }
.doctor ul.slick-dots li.slick-active {display: block; float: left;}
.doctor ul.slick-dots li.slick-active button { font-size:16px; color:#222;  font-weight: 600;}

.doctor .doctor_list {position: relative; }
.doctor .doctor_list .txt {display: none; margin-left: 45px; color:#fff;}
.doctor .doctor_list .txt h4 { margin-top: 68px; font-size:40px; color:#fff; height: 70px; position: relative;}
.doctor .doctor_list .txt h4:after {display: block; content:''; height:4px; width: 40px; background: #fff; position: absolute; bottom:0px;}
.doctor .doctor_list .txt .name { font-size: 28px; margin-top: 28px; font-weight: 600;}
.doctor .doctor_list .txt .info {font-size:18px; margin-top: 20px; width: 270px; height: 100px; line-height: 1.4;}
.doctor .doctor_list .txt .more {width: 134px; height: 30px; background: url('../img/main/btn_more1.png'); display: block; overflow:hidden; text-indent:9999px; color:rgba(0,0,0,0); margin-top: 44px;}
.doctor .doctor_list.slick-current .txt {display: block; position: absolute; z-index:9999;}
.doctor .doctor_list span {display: block ; position: relative;width: 300px; height: 300px; background: #d3dce0; overflow:hidden; border-radius:50%; margin: 0 auto; transition:all 0.3s;}
.doctor .doctor_list span img {width:75%; margin:45px auto 0;}
.doctor .doctor_list.slick-slide {margin-top: 70px; width: 710px ; margin-left: -150px; }
.doctor .doctor_list.slick-center {  height: 440px; margin-top: 0;}
.doctor .doctor_list.slick-center span {width: 710px ; height: 440px; background: url('../img/main/bg_doctor_over.png') 50% 50%; border-radius:0%;}
.doctor .doctor_list.slick-center span img {width: 250px; position: absolute; bottom:0; right:30px;}


/*길병원 포커스*/
.focus {margin:70px auto 0;width:1400px;height:520px; overflow:hidden;}
.focus:after {content:""; clear: both;display: block; float: none;}
.focus .focus__wrap {width: 782px; height: 520px; float: left;} 

.focus .focus__wrap .news {position: relative;}
.focus .focus__wrap .news .title ,
.focus .focus__wrap .news .contents{position: absolute; z-index:4; color:#fff; top:315px; width: calc(100% - 130px); margin-left: 65px;}
.focus .focus__wrap .news .title {top:310px; font-size:32px; font-weight: 600;  height:108px;}
.focus .focus__wrap .news .contents {top:400px; height: 54px; line-height: 1.6; font-size:18px; text-align: justify;}
.focus .focus__wrap .news .more {position: absolute; top:435px; right:65px; background: url('../img/main/btn_news_more.png'); width: 54px; height: 19px; overflow:hidden; display: block; text-indent:-9999px;}

.focus .focus__wrap_nav {width: 618px; height: 520px; float: right; background:#333;}
.focus .focus__wrap_nav .slick-list {overflow:visible;}	
.focus .focus__wrap_nav .title {width: 100%; position: relative; background: #333;}
.focus .focus__wrap_nav h4 {font-weight:500; width: 100%;background: #333; position: absolute; z-index:2;font-size:20px; height: 80px;  line-height: 80px; padding-left:64px; color:rgba(255,255,255,.6); border-bottom:1px solid rgba(255,255,255,.2);box-sizing:border-box;}
.focus .focus__wrap_nav .slick-slider {position: relative; top: 81px;}
.focus .focus__wrap_nav .slick-slider .slick-list li {font-size:24px;color:#fff; line-height:86px;padding :0 50px 0 64px; border-bottom:1px solid rgba(255,255,255,.2); position: relative; cursor:pointer;  }
.focus .focus__wrap_nav .slick-slider .slick-list li span {display: block; white-space: nowrap;  overflow: hidden; text-overflow: ellipsis; }
.focus .focus__wrap_nav .slick-slider li.slick-current {background:#67a62e;  }
.focus .focus__wrap_nav .slick-slider li.slick-current:after {position:absolute; content:""; top:-2px; left:-34px; width: 0;   height: 0; border-top: 45px solid transparent; border-bottom: 45px solid transparent;  border-right:34px solid #67a62e; } 

.focus .focus__wrap_nav .slick-dots {position: absolute; top: -47px; right: 102px;z-index:3;}
.focus .focus__wrap_nav .slick-arrow {position: absolute; top:-45px; right:64px;  z-index:3; width:13px;height:20px;background:url(../img/main/paging_arr.png) no-repeat 0 0;text-indent:-999em;} 
.focus .focus__wrap_nav .slick-arrow.slick-prev {transform:rotate(-180deg); right:155px;}
.focus .focus__wrap_nav .slick-arrow.slick-next { }
 
.focus .focus__wrap_nav .slick-dots li {height: 20px; line-height: 20px; font-family:Lato; border:none; float: left; display: none;}
.focus .focus__wrap_nav .slick-dots li.slick-active {display: block; color:#fff;}
.focus .focus__wrap_nav .slick-dots li.slick-active button {display: inline-block; color:#fff; font-size:15px; font-family: Lato;}
.focus .focus__wrap_nav .slick-dots li.slick-active:after {content:" / 2"; color:#ddd; font-size:15px; font-family: Lato;} 

.main-tit{display:block;text-align:center;color:#222;font-size:60px;font-weight:500;letter-spacing:-4px;}

.main-paging{position:fixed;right:48px;top:400px;width:34px;text-align:center;}
.main-paging a{display:block;width:4px;height:4px;background:#b9bec5;text-indent:-9999em;border-radius:2px;margin:0 auto 34px;text-align:center;}
.main-paging a:last-child{margin-bottom:0;}
.main-paging a.on{text-indent:0;width:34px;height:34px;text-align:center;line-height:34px;border-radius:20px;border:2px solid #fff;color:#fff;background:none;}

.gnb_wrap {display:none; width: calc(100%  - 100px); margin-left: 50px; position: fixed; top:94px; background:rgba(255,255,255,0.5); z-index:999999; overflow:hidden; box-sizing:border-box;  }
.gnb_wrap:after {clear: both;}
.gnb_wrap h1 {width: 310px; float: left;}
.gnb_wrap ul {float: left;margin-right: 30px;}
.gnb_wrap .close {position: absolute; right:30px; top:30px; color:#fff;}

.checkUp {width: 1440px; margin: 50px auto 0;}
.checkUp ul li.slick-slide {position: relative;}
.checkUp ul li.slick-slide figure {border-radius:50px; overflow: hidden; width: 320px; margin: 0 auto; position: relative;}
.checkUp ul li.slick-slide figure:before {content: ''; display: block; width: 100%; height: 100%;top:0; position: absolute; z-index:3; background: rgb(255,255,255);background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3029586834733894) 100%); z-index:2;}
.checkUp ul li.slick-slide div {display: table; position: absolute; width: 100%; height: 100%; top:0;}
.checkUp ul li.slick-slide span {text-align: center; display: table-cell; vertical-align: middle;font-size:34px; font-weight: 600; color: #fff; position: relative; z-index: 4;}

.checkUp .slick-arrow {position: absolute; bottom:-16px; left:50%; text-indent:9999px; width: 50px; height: 50px; background: url('../img/main/slide_arr.png');}
.checkUp .slick-arrow.slick-prev {margin-left: -110px; transform:rotate(180deg);}
.checkUp .slick-arrow.slick-next {margin-left: 50px;}
.checkUp ul.slick-dots {width: 50px; margin: 60px auto 0; text-align: center;}
.checkUp ul.slick-dots:after {content:" / 10"; font-size:16px; color:#888;  font-weight: 600; display: inline-block;}
.checkUp ul.slick-dots li {display: none; }
.checkUp ul.slick-dots li.slick-active {display: block; float: left;}
.checkUp ul.slick-dots li.slick-active button { font-size:16px; color:#222;  font-weight: 600;}


.dimm,
.popup {display: none;}


@media only screen and (max-width: 1440px) {
	body {overflow-x:visible  !important;}

	.rsv__wrap {width: ;}

	/* Section 01 */
	.section01-menu {width: 990px;}
	.section01-menu a {width: 180px; height: 180px; margin: 0 30px;}
	.section01-menu a.slick-current i,  
	.section01-menu a i {width: 105px; height: 80px;  background-size:cover;  }
	.section01-menu a:nth-child(2) i,
	.section01-menu a.slick-current:nth-child(2) i{background-position: 0 -95px;}
	.section01-menu a:nth-child(3) i,
	.section01-menu a.slick-current:nth-child(3) i{background-position: 0 -180px;}
	.section01-menu a:nth-child(4) i,
	.section01-menu a.slick-current:nth-child(4) i{background-position: 0 -265px;}
	.section01-menu span {font-size:21px;}
	.section01-menu a.slick-current {border-radius:45px; width: 240px;}

	/* Section 03 */
	.focus {width: 1100px;} 
	.focus .focus__wrap {width: 600px;}
	.focus .focus__wrap_nav {width: 500px;}

	/* Section 04 */
	.main-section__menu {width: 1100px;}
	.main-section__menu > div {width: 340px; height: 440px;}
	.main-section__menu > div:hover .active-layer {width: 340px; height: 440px;}
}







/* Safari 4.0 - 8.0 */
@-webkit-keyframes scroll_main {
  from {background-position:0 -35px; }
  50% {background-position:0 -15px; }
  to {background-position:0 -35px; }
}

/* Standard syntax */
@keyframes scroll_main {
  from {background-position:0 -35px; }
  50% {background-position:0 -15px; }
  to {background-position:0 -35px; }
}