<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Scripts -->
    <script src="../../js/jquery-2.2.3.min.js"></script>
</head>
<body>
<div class="wrap">
    <!-- 작업 미완료 추후 완료예정-->
    <div class="header" style="background:url(../../img/temp/header.png) no-repeat 50% 0;height:94px;min-width:1920px">
        <div class="inner" style="display:none">
            <h1><a href="javascript:;"><img src="../../img/common/logo_color.png" alt="가천대길병원"></a></h1>
            <div class="top-menu">
                <div class="share">
                    <a href="javascript:;" class="share-b"></a>
                    <a href="javascript:;" class="share-f"></a>
                    <a href="javascript:;" class="share-y"></a>
                    <a href="javascript:;" class="share-p"></a>
                </div>
                <a href="javascript:;" class="intro"></a>
                <a href="javascript:;" class="cooperation-center"></a>
            </div>
            <div class="util">
                <a href="javascript:;"><span>빠른예약</span></a>
                <a href="javascript:;">로그인</a>
                <a href="javascript:;">회원가입</a>
                <div class="language">
                    <select>
                        <option>LANGUAGE</option>
                    </select>
                </div>            
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
            </div>
            <ul class="gnb">
                <li><a href="javascript:;">진료과/의료진</a></li>
                <li><a href="javascript:;">진료예약</a></li>
                <li><a href="javascript:;">고객서비스</a></li>
                <li><a href="javascript:;">건강매거진</a></li>
                <li><a href="javascript:;">병원안내</a></li>
            </ul>
            <div class="gnb__all-view">

            </div>
        </div>
    </div>
    <!-- //작업 미완료 추후 완료예정-->
    <div class="content">
        <div class="section" style="min-height:600px;">
            
        </div>
    </div>
    
    <!-- 작업 미완료 추후 완료예정-->
    <div class="bottom" style="background:url(../../img/temp/footer.png) no-repeat 50% 0;height:206px;min-width:1920px;">
        <div class="quick-menu">
            
        </div>
        <div class="footer" style="display:none;">
            <div class="inner">
                <div class="foot-menu">
                    <a href="javascript:;">개인정보취급방침</a>
                    <a href="javascript:;">이용약관</a>
                    <a href="javascript:;">이메일 무단수집거부</a>
                    <a href="javascript:;">병원윤리강령</a>
                    <a href="javascript:;">환자의권리보호존중</a>
                    <a href="javascript:;">사이트맵</a>
                </div>
                <div class="other">
                    <div class="select-box">
                        <select>
                            <option>지원부서</option>
                        </select>
                    </div>
                    <div class="select-box">
                        <select>
                            <option>패밀리사이트</option>
                        </select>
                    </div>
                </div>
                <div class="confirm">
                    <a href="javascript:;"><img src="../../img/common/c_logo02.png" alt=""></a>
                    <a href="javascript:;"><img src="../../img/common/c_logo01.png" alt=""></a>
                </div>
                <div class="address">21565 (신)인천광역시 남동구 남동대로 774번길21(구월동) 대표전화 1577-2299</div>
                <div class="copyright">Copyright</div>
            </div>
        </div>
    </div>
    <!-- //작업 미완료 추후 완료예정-->
</div>

<script src="../../js/ui.js"></script>
</body>
</html>
