<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Scripts -->
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <style>
        .guide-section{padding:20px;}
        .guide-tit span{font-size:25px;margin-bottom:20px;line-height:1.2;position:relative;display:inline-block;font-weight:bold;color:#333;}
        .guide-tit span:after{width:100%;height:5px;background:#ffea00;content:"";position:absolute;bottom:0;left:0;opacity:0.4;}
    </style>
</head>
<body>
<div class="wrap">
    <div class="guide-section">
        <div class="guide-tit"><span>버튼</span></div>
        <a href="javascript:;" class="btn-lg btn-blue"><span>큰 버튼</span></a>
        <a href="javascript:;" class="btn-mid btn-gray"><span>중간 버튼</span></a>
        <a href="javascript:;" class="btn-sm btn-white"><span>작은 버튼</span></a>
    </div>
    <div class="guide-section">
        <div class="guide-tit"><span>checkbox</span></div>
        <span class="inp-checkbox"><input type="checkbox" id="c1"
    </div>
</div>

<script src="../../js/ui.js"></script>
</body>
</html>
