@charset "UTF-8";
@import url("jquery.mobile-1.4.5.min.css");
@import url("jquery-ui.min.css");


/* font */
@font-face {
    font-family:'NotoSansKR';
    font-weight:300;
    src: local(※),
        url('../font/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:400;
    src: local(※),
        url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:500;
    src: local(※),
        url('../font/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:700;
    src: local(※),
        url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/LatoLatin-Regular.woff) format('woff');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../font/LatoLatin-Bold.woff) format('woff');
  text-rendering: optimizeLegibility;
}



/* reset */
body{font-family:Lato, "NotoSansKR", '맑은고딕', Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-size:16px; color:#666; width:100%; height:100%;letter-spacing:-1px;line-height:1.2;font-weight:300; background: #eee; overflow-x:hidden;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td, img{margin:0;padding:0; vertical-align:top; border:none;}
ul, ol, li{list-style:none}
hr{display: block; width: calc(100% + 2rem); border: 0.25rem solid #f5f5f5; margin: 2.25rem 0; box-sizing: border-box; position: relative; left: -1rem;}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}
table { border-collapse: collapse;}
.blind{overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
select, input, textarea, button {font-family: Lato, "NotoSansKR"; box-sizing:border-box; border-radius:0px; box-shadow:none;}
/* Link Css */
a{cursor:pointer; overflow:hidden;color:#666;text-decoration:none}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:none;}
address {font-style:normal;}
button{cursor:pointer; border:none; background:none; padding:0; margin:0 auto;}
::-webkit-input-placeholder {color: #888;}
:-ms-input-placeholder {  color: #888;}
::placeholder {color: #888;}


/* Blind */
.blind{position:absolute;width:0;height:0;font-size:1px;text-indent:-9999px;overflow:hidden;}

/* block */
figure,
img{display:block;margin:0;padding:0;}
:focus { outline: none; }


/* Slick Slider */ .slick-slider { position: relative;display: block; box-sizing: border-box;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;-webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }.slick-list { position: relative;display: block; overflow: hidden;margin: 0; padding: 0; } .slick-list:focus { outline: none; } .slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0;display: block; margin-left: auto; margin-right: auto; } .slick-track:before, .slick-track:after { display: table;content: ''; } .slick-track:after { clear: both; } .slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left;height: 100%; min-height: 1px; } [dir='rtl'] .slick-slide { float: right; } .slick-slide img { display: block; } .slick-slide.slick-loading img { display: none; } .slick-slide.dragging img { pointer-events: none; } .slick-initialized .slick-slide { display: block; } .slick-loading .slick-slide { visibility: hidden; } .slick-vertical .slick-slide { display: block;
height: auto;border: 1px solid transparent; float: none;} .slick-arrow.slick-hidden { display: none; }



.ml_12 {margin-left: 12px  !important;}

.mt_0 {margin-top: 0px !important;}
.mt_10 {margin-top: 10px !important;}
.mt_12 {margin-top: 0.75rem !important;}
.mt_20 {margin-top:  1.25rem !important;}
.mt_24 {margin-top: 1.5rem !important;}
.mt_30 {margin-top: 1.875rem !important;}
.mt_40 {margin-top: 2.5rem !important;}
.mt_48 {margin-top: 3rem !important;}
.mt_70 {margin-top: 4.375rem !important;}

.mb_0 {margin-bottom: 0px !important;}
.mb_20 {margin-bottom: 1.25rem !important;}
.mb_70 {margin-bottom: 4.375rem !important;}

.c_blue {color:#004e96 !important;}
.c_grey {color:#888 !important;}
.c_bk {color: #000 !important;}
.c_red {color: #df0000 !important;}

.b_line.c_blue{padding-bottom:0.125rem;border-bottom:1px solid #004e96;}

.p_0 {padding: 0px !important;}
.ph_20 {padding: 0 1.25rem !important;}
.pv_12 {padding: 0.75rem 0 !important;}
.pl_20 {padding-left: 1.25rem !important;}
.pb_0 {padding-bottom: 0px !important;}
.pb_70 {padding-bottom: 4.375rem !important;}


.ta_l {text-align: left !important;}
.ta_c {text-align: center !important;}
.ta_r {text-align: right !important;}
.ta_j {text-align: justify !important;}

.lh_14 {line-height: 1.4 !important;}
.lh_16 {line-height: 1.6 !important;}
.lh_18 {line-height: 1.8 !important;}
.lh_20 {line-height: 2.0 !important;}

.va_m {vertical-align: middle;}

.fs_12 {font-size:0.75rem !important;}
.fs_16 {font-size:1rem !important;}
.fs_18 {font-size:1.125rem !important;}
.fs_20 {font-size:1.25rem !important;}
.fs_24 {font-size:1.5rem !important;}
.fs_30 {font-size:1.875rem !important;}
.fs_34 {font-size:2.125rem !important;}

.dis_ib {display: inline-block;}
.dis_b {display: block;}

.fl {float: left;}
.fr {float: right;}
.fw_4 {font-weight: 400 !important;}
.fw_5 {font-weight: 500 !important;}

.ov_hidden {overflow: hidden !important;}
.cl:after {content:""; clear: both;display: block; float: none;}

.devider{width:100%;display:block;height:1px;background:#ddd;margin:0.9375rem 0 2.25rem;}
.title + .devider{margin-top:0;}
.form + .devider{margin-top:2.188rem;}

.u_line{text-decoration:underline;}

/* button */
.btn {display: inline-block; box-sizing:border-box; text-align: center;}
.btnXS {height: 1.875rem; line-height: 1.875rem; min-width:50px; font-size:14px; font-weight: 600;}
.btnS {height: 2.25rem;font-size: .75rem; line-height: 2.25rem; min-width:110px;  font-weight: 600;}
.btnM {height: 36px; line-height: 34px; min-width:110px; font-size:0.875rem; font-weight: 600;}
.btnL {height: 2.5rem; line-height: 2.5rem; font-size:1rem; width: 100%; font-weight: 500;}
.btnXL {height: 2.813rem; line-height: 2.813rem; font-size:1rem;  width: 100%; font-weight: 400;}

.btn.grey {color: #222; background: #f1f1f1;border:1px solid #ddd;}
.btn.blue {color: #fff; background: #004e96;}
.btn.blue-o {color:#004e96; border:1px solid #004e96;}
.btn.black-o {color:#000; border:1px solid #000;}
.btn.grey-o {color:#999; border:1px solid #888;}
.btn.btnXL.blue {border:1px solid #003363;}

.btn-table.btn-blue{background:#004e96;color:#fff;padding:0 1.875rem;display:inline-block;height:50px;line-height:50px;}
.btn-table.btn-table-single{margin-left:22px;}
.btn-wrap{text-align:center;}
.btn-wrap.col-2:after {content:""; clear: both;display: block; float: none;}
.btn-wrap.col-2 a {width: 50%; float: left;}
.btn-right{text-align:right;margin-top:25px;margin-right:-6px;}
.btn_area{text-align:center;font-size:0;margin:0 -0.375rem;display:flex;}
.btn_area a{margin:0 0.375rem;display:flex;}
.btn_area a span{display:block;text-align:center;width:100%;}

/*팝업 떴을때*/
html.modal-open {overflow-y: hidden;  }

/* input */
	/* 밑줄 */
	.ui-input-text input[type="text"].normal,
	.ui-input-text input[type="password"].normal,
	.ui-input-text input[type="number"].normal,
	.ui-input-text input[type="email"].normal {transition:all 0.3s;height: 2.25rem; width: 100%; line-height: 2.25rem; font-size:.875rem; border-bottom:1px solid #eee;padding-left: 0.5rem;}
	.ui-input-text.ui-focus input.normal {border-bottom:1px solid #004e96; color: #000;}
    .ui-input-text.ui-state-disabled input {color:#aaa;}
	.ui-input-text input.normal.error {border-bottom: 1px solid #ff0000; }
    span.error {color: #ff0000; font-size: .875rem; margin-left: 0.5rem; margin-top: 0.2rem}

	/* 박스형 */
	.ui-input-text input[type="text"].box,
	.ui-input-text input[type="password"].box,
	.ui-input-text input.box {height:2.5rem ; line-height: 2.25rem; width: 100%; font-size:.875rem; padding-left: 0.5rem; border:1px solid #ddd;}

	/* tabs */
	.tab__depth2 {width: calc( 100% + 2rem); position: relative; margin-left: -1rem;  border-bottom: 1px solid #ddd;}
	.tab__depth2 ul {display: table; table-layout: fixed; width: calc( 100% - 2rem); margin: 0 1rem;}
	.tab__depth2 ul li { display: table-cell; width: 100%; vertical-align: middle; height: 3.375rem; } 
	.tab__depth2 ul li a {display: block;text-align: center; line-height: 1.4; font-size:0.875rem; font-weight: 500;}
	.tab__depth2 ul li.on,
	.tab__depth2 ul li.ui-state-active { border-bottom: 1px solid #004e96; color: #004e96;}
	.tab__depth2 ul li.on a ,
	.tab__depth2 ul li.ui-state-active a{color: #004e96; font-weight: 600;}

	.tab__depth2.expand {overflow-x:auto;-webkit-overflow-scrolling: touch; overflow-y:hidden;}
	.tab__depth2.expand ul {-webkit-flex-wrap: nowrap; -moz-flex-wrap: nowrap; -ms-flex-wrap: none; flex-wrap: nowrap;display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex;}
	.tab__depth2.expand ul li {float: none;  display: table;}
	.tab__depth2.expand ul li a {display:table-cell; vertical-align: middle;}
	.tab__depth2.expand ul li img {width:6.25rem; height: 0px;}

	/*checkBox*/
	.ui-checkbox {display: inline-block; height: 1.5rem; line-height: 1.5rem; position: relative; width: auto;}
	.ui-checkbox input {width: 0; height: 0; visibility: hidden; position: absolute; left:0; top:0;}
	.ui-checkbox label {padding-left: 2rem; position: relative; font-size:0.8125rem;display: inline-block;font-weight: 400;}
	.ui-checkbox label:before {content:"";position: absolute; border-radius:0.25rem; width: 1.5rem; height: 1.5rem; display: block; left:0;top:0; box-sizing:border-box; border:1px solid #aaa; background-image:url('../img/icon/i_check.png'); background-repeat:no-repeat; background-position:50% 50%; background-size:0.625rem;}
	.ui-checkbox label.ui-checkbox-on:before {background-color: #fcaf15; border:1px solid #fcaf15;}
	.ui-checkbox.ui-state-disabled label:before {background-color: #ddd; border:1px solid #ddd; }

	/* radio */
	.ui-radio {display: inline-block; height: 1.5rem; line-height: 1.5rem; position: relative;}
	.ui-radio input {width: 0; height: 0; visibility: hidden; position: absolute; left:0; top:0;}
	.ui-radio label:before {content:"";position: absolute; width: 1.5rem; height: 1.5rem; display: block; left:0;top:0; border-radius:50%; box-sizing:border-box; border:1px solid #aaa;}
	.ui-radio label.ui-radio-on:before {border:0.5rem solid #fca418;}
	.ui-radio label {padding-left: 2rem; position: relative; font-size:0.8125rem;display: inline-block;}
	.ui-radio.ui-state-disabled  label:before {border:0.5rem solid #ddd;}

	/* select */
	.ui-select {position:relative;height: 2.25rem;line-height: 2.25rem;  border-bottom:1px solid #eee; box-sizing:border-box;}
	.ui-select .ui-btn>span:not(.ui-li-count) {display: block; text-overflow: ellipsis; overflow: hidden!important; white-space: nowrap; font-size: .875rem; padding-left: 0.5rem;}
	.ui-select .ui-btn select {position: absolute;top: 0;left: 0; width: 100%; min-height: 1.5em; min-height: 100%; height: 3em; max-height: 100%; outline: 0; -webkit-border-radius: inherit; border-radius: inherit; -webkit-appearance: none; -moz-appearance: none; cursor: pointer; filter: Alpha(Opacity=0); opacity: 0; z-index: 2;}
	.ui-select .ui-icon-carat-d {background: url('../img/icon/i_sel_arr_down.png') no-repeat; background-size:0.5rem; background-position:right 0.5625rem top 0.9375rem;}

	/*주민번호*/
	.eMail:after,
	.phNum:after,
	.secNum:after {content:""; clear: both;display: block; float: none;}
	.secNum .ui-input-text {float: left; width: calc(50% - 0.5625rem );}
	.secNum .space {float: left; width: 1.125rem; display: inline-block; text-align: center; height: 2.25rem; line-height: 2.25rem;}

	/*휴대폰번호*/
	.phNum .ui-select {width:  4rem; float: left;}
	.phNum .ui-input-text {width: calc(100% - 4.5rem); float: right;}

	/*이메일*/
	.eMail .ui-input-text {float: left; width: calc(50% - 0.5625rem );}
	.eMail .space {float: left; width: 1.125rem; display: inline-block; text-align: center; height: 2.25rem; line-height: 2.25rem;}

    /* textarea */
    .ui-textinput-autogrow {border: 1px solid #ddd; width: 100%; min-height: 3rem; padding: 1rem; }

	/*학교*/
	.scName:after,
	.scNum:after {content:""; clear: both;display: block; float: none;}
	.scName .ui-input-text {width:60%; float: left;}
	.scName .ui-select {width: calc( 40% - 1rem); float: right;}
	.scNum {margin-top: 1rem;}
	.scNum .ui-input-text {width: 3.75rem; float:left;}
	.scNum label {float: left; width:  3.75rem; height: 2.25rem; line-height: 2.25rem; font-size: 0.875rem;}

    /* 주소 */
    .mAdd:after {content:""; clear: both;display: block; float: none;}
    .mAdd .ui-input-text {float: left; width: calc(70% - 1rem );}
    .mAdd button {float: right; width: 30%;}
    .mAdd + .ui-input-text,
    .mAdd + .ui-input-text + .ui-input-text {margin-top: 1rem}

	/* 캘린더 */
	.hasDatepicker {}
	.ui-datepicker-calendar {width: 100%;}
	.ui-datepicker-calendar thead tr th:first-child,
	.ui-datepicker-calendar tbody tr td:first-child a {color: #ff4949;}
	.ui-datepicker-calendar th {padding: 0.5rem 0;}
	.ui-datepicker-calendar th,
	.ui-datepicker-calendar td {text-align: center; font-size:0.8125rem; height: 1.75rem;}
	.ui-datepicker-calendar tbody td a {height:1.563rem ; width:1.625rem; line-height: 1.563rem; text-align: center; margin: 0 auto;display: block;}
	.ui-datepicker-calendar tbody td a.ui-state-active { color: #fff;background: url(../img/icon/i_cal_on.png)no-repeat;background-size:100%;}
	.ui-datepicker-calendar tbody td.ui-state-disabled span {display: block; margin: 0 auto; color: #bbb; height:1.563rem ; width:1.625rem; line-height: 1.563rem;}
	.ui-datepicker-calendar tbody tr td:first-child a.ui-state-active {color: #fff;}

	.ui-datepicker-header {padding:0 2.813rem;}
	.ui-datepicker-header:after {content:""; clear: both;display: block; float: none;}
	.ui-datepicker-header > a {width: 1.875rem; height: 1.875rem; border:1px solid #ddd; display: block;float: left; box-sizing:border-box; text-indent: -999px; overflow: hidden; background: url('../img/icon/i_arr_cal.png') no-repeat; background-position: 50% 50%; background-size:20%;}
	.ui-datepicker-header > a.ui-datepicker-prev { -ms-transform: rotate(180deg);   transform: rotate(180deg);}
	.ui-datepicker-header > a.ui-datepicker-next {float: right;}
	.ui-datepicker-header > a.ui-state-disabled {background-color: #eee;}
	.ui-datepicker-header .ui-datepicker-title {width:8.125rem; margin: 0 auto;}
	.ui-datepicker-header .ui-datepicker-title select {background: #fff; font-size: 1rem; height: 1.875rem; line-height: 1.875rem;  border:none; margin-right: 1rem;}
	.ui-datepicker-header .ui-datepicker-title select:last-child {margin-right: 0;}
	.ui-datepicker-header .ui-datepicker-title select:first-child option:after {content:"년"; display: inline-block; }
	
	.ui-datepicker-header .ui-datepicker-title > .ui-select {display: inline-block; min-width:3.75rem; height: 1.875rem; line-height: 1.875rem; margin-right: 1rem; border-bottom: 0px; }
	.ui-datepicker-header .ui-datepicker-title > .ui-select:last-child {margin-right: 0; min-width:3rem;}
	.ui-datepicker-header .ui-datepicker-title > .ui-select .ui-icon-carat-d {background: none; }

	figure.expand {overflow: auto;}


/* Accordion */
.ui-collapsible-content.ui-collapsible-content-collapsed { display: none !important; }
.ui-accordion-header-icon,
.ui-collapsible-heading-status {display: none;}

.accordion .ui-collapsible .ui-collapsible-content {  }
.accordion .ui-collapsible-content { border-bottom:1px solid #ddd; font-size:0.8125rem; display: block; margin: 0; padding: 1em  .5em; }
.accordion .ui-collapsible-content p {margin-bottom: 0.1875rem; line-height: 1.4;}
.accordion .ui-collapsible-content p:last-child {margin-bottom: 0;}
.accordion .ui-collapsible-set > .ui-collapsible.ui-corner-all { -webkit-border-radius: 0; border-radius: 0; }
.accordion .ui-collapsible-set > .ui-collapsible.ui-corner-all + .ui-collapsible > .ui-collapsible-heading{border-top:0;}
.accordion .ui-collapsible > .ui-collapsible-heading {font-size:0.9375rem;  height: 2.75rem;line-height: 2.75rem; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; background: #fbfcfd; position: relative;box-sizing:border-box;}
.accordion .ui-collapsible > .ui-collapsible-heading a {margin-left: 0.5rem;}
.accordion .ui-collapsible > .ui-collapsible-heading:after {content:"" ; display: block; position: absolute; right:1rem ; top:1.1rem;width: 0.875rem; height: 0.5rem; background: url('../img/icon/i_arr_accordion.png');background-size:100%; background-position:left 0 bottom 0;}
.accordion .ui-collapsible:not(.ui-collapsible-collapsed) > .ui-collapsible-heading { background: #4171a8;border-top:1px solid #4171a8;}
.accordion .ui-collapsible:not(.ui-collapsible-collapsed) > .ui-collapsible-heading:after { background-position:left 0 top 0;}
.accordion .ui-collapsible:not(.ui-collapsible-collapsed) > .ui-collapsible-heading a {color: #fff; font-weight: 500; }

/* 전체 popup */
.ui-popup-screen {background: #fff; }
.ui-popup-container {background: #fff; height:100vh;width:100% !important;max-width:480px !important;}
.ui-popup-container .ui-popup.ui-content {box-sizing: border-box; height: 100vh; position: relative;}
.ui-popup-container .ui-popup.ui-content .btn-wrap.col-2 {position: absolute; bottom: 0;width: 100%;}
.ui-popup .popupTitle {height: 2.75rem; border-bottom: 1px solid #ddd;}
.ui-popup .popupTitle h3 {height:  2.75rem; line-height:  2.75rem; font-size:0.9375rem; text-align: center; color: #222;}
.ui-popup .popupTitle a {position: absolute; right:1rem; top:0.9rem; width: 1rem; height: 1rem; overflow: hidden; text-indent: -9999px; background: url(../img/icon/i_pop_close.png) no-repeat; background-size: cover;}
.ui-popup .inner {overflow-y: auto; height: calc(100vh - 5.625rem);}
.ui-popup .inner .popupContents {background:#000; height:2300px;}

/* Notice */
.box__notice {border:1px solid #ddd; margin-top: 2.25rem;}
.box__notice h3 {font-size:0.8125rem; line-height: 2.5rem;  padding-left: 2.25rem; position: relative;}
.box__notice h3:before {content: ''; width:1rem ; height: 1rem; background: url('../img/icon/i_notice.png'); display: inline-block; position: absolute; lefT:0.8rem; top:0.8rem; background-size:cover;}
.box__notice h3:after {content: ''; width:1rem ; height: 0.6rem; background: url('../img/icon/i_sel_arr_down.png') no-repeat; display: inline-block; position: absolute; right:0.8rem; top:1rem; background-size:cover; -ms-transform: rotate(-180deg);  transform: rotate(-180deg); transition:all 0.3s;}
.box__notice .ui-collapsible-content {font-size:0.75rem; padding: 1rem 0.625rem;border-top: 1px solid #ddd;}
.box__notice .ui-collapsible-collapsed h3:after { -ms-transform: rotate(-0deg);  transform: rotate(-0deg);}

/* table */
table tbody td strong {font-weight: 500; color: #000;}
.table-must-area{text-align:right;font-size:0.875rem;margin-bottom:1rem;}
.table-row.expand {overflow-x: auto;}
.table-row > table{border-top:0.125rem solid #000;color:#333;width:100%}
.table-row > table th,
.table-row > table td {color:#333; border-left: 1px solid #ddd;border-bottom:1px solid #ddd;line-height: 1.6; font-size:0.75rem; font-weight: 500; text-align: center; vertical-align: middle;padding:0.5rem;}
.table-row > table th {background:#f9f9f9;}
.table-row > table td {}
.table-row > table th:first-child,
.table-row > table td:first-child {border-left: none;}
.table-col > table{width:100%;}
.table-col > table thead th{background:#f9f9f9;font-weight:500; color:#333; padding:.75rem 0; text-align: center;vertical-align:middle; font-size:0.75rem;}
.table-col > table tbody td{text-align:center;padding:.75rem 0;vertical-align:middle;border-bottom:1px solid #ddd;font-size:0.6875rem;}
.table-col > table thead tr th:last-child,
.table-col > table tbody tr td:last-child{border-right:none;}
.table-col > table tbody td strong{font-weight:400;}

/* 기본리스트 */
ul.dot-list {margin-top: 1rem;}
ul.dot-list li {position: relative; padding-left: 0.5rem; font-size:0.8125rem; /*margin-bottom: 0.5rem;*/line-height:1.125rem; }
ul.dot-list li:last-child {margin-bottom: 0;}
ul.dot-list li:before {content: '·';position: absolute; left:0; top:-1px;}
ul.dot-list + small {font-size:0.75rem; color: #666;}


/* sub STEP */
.list__step > ul > li {border-left: 1px solid #ddd; padding-left: 1rem; padding-top: 0.6rem; margin-left: 0.1875rem; position: relative; padding-bottom: 1rem;}
.list__step > ul > li:last-child {border-left: none;}
.list__step > ul > li span {font-size:0.75rem;color: #666; position: absolute; top:0;}
.list__step > ul > li h4 {font-size:0.875rem; color: #000; line-height: 1.6; margin-top: 0.5rem;}
.list__step > ul > li h4:nth-child(1) {margin-top: 2rem;}
.list__step > ul > li small {color: #888; font-weight: 400; font-size:0.75rem;}
.list__step > ul > li h4 small {position: relative; padding-left: 0.25rem;}
.list__step > ul > li p {font-size:0.75rem;}
.list__step > ul > li span:before {content: ''; width:  0.4375rem; height:  0.4375rem; background: #fcaf15; display: block; position: absolute; left:-1.25rem; border-radius:50%;}

.list__content {margin-top: 1rem;}
.list__content > ul {border-bottom: 1px solid #ddd;}
.list__content > ul > li {border: 1px solid #ddd; border-bottom: none;padding: 1rem;}
.list__content > ul > li h4 {color: #333; line-height: 1.4; margin-bottom: 0.5rem;}

/* wrap */
.mobile {width: 100%; max-width:480px; min-height: 100vh;  margin: 0 auto; background: #fff; overflow: hidden; position: relative;}
.footer {margin-top: 6.25rem;}

.ui-header {position: fixed; padding: 0 1rem; border-bottom: 1px solid #ddd; height: 2.625rem;  box-sizing: border-box;  background: #fff; z-index:5; width: 100vw; max-width:480px;}
.ui-header h1 {padding-top:0.75rem ;position: absolute; lefT:50%; margin-left: -3.1rem; background: url(../img/common/logo.png); background-size:100%; background-repeat:no-repeat; background-position:left 0 bottom 0;}
.ui-header h1 a { width:6.19rem; height: 1.313rem; overflow: hidden; text-indent: 999px; display: block; }
.ui-header > a {font-size:0.625rem; font-weight: 500; margin-top: 0.5rem;}
.ui-header > a:before {content:"";width: 1.063rem; height: 1.063rem; background: url('../img/icon/i_header.png') no-repeat; display: block; background-size: 300%; margin: 0 auto;}
.ui-header > a.menu:before { background-position:right 0 top 0;}
.ui-header > a.prev:before { background-position:left 50% top 0;}
.ui-header .left {float: left; }
.ui-header .right {float: right;}
.ui-content > section {padding-top: 2.625rem;}
.ui-content.ui-popup > section {padding-top: 0rem;}

#nav.ui-panel { width: 17em; position: absolute; z-index:10; background: #fff;}
#nav.ui-panel-closed { width: 0; } #mobile .ui-panel-page-content-position-left, .ui-panel-dismiss-open.ui-panel-dismiss-position-left { left: 17em; right: -15em; }
#mobile .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal { left: 0; right: 0; -webkit-transform: translate3d(15em,0,0); -moz-transform: translate3d(15em,0,0); transform: translate3d(15em,0,0); }
.ui-listview > li .ui-collapsible-heading {margin: 0;	    }
.ui-collapsible.ui-li-static {   padding: 0; border: none !important;	    }
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn { border-top: none !important; }
.ui-listview .ui-listview .ui-btn { background: #fff; }
.ui-listview .ui-listview .ui-btn:hover { background: #f5f5f5; }
.ui-listview .ui-listview .ui-btn:active { background: #f1f1f1; }
#mobile .ui-panel-display-reveal { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#mobile .ui-panel-page-content-position-left { -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15); -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15); box-shadow: -5px 0px 5px rgba(0,0,0,.15); }
#mobile.ui-page-theme-a, #mobile .ui-panel-wrapper { background-color: #fff; }


section > .title {padding-top: 2.5rem; height:6.5rem; background: #567b9d;}
section > .title h2 {text-align: left; font-size:.1.5rem; color: #fff; margin-left: 1rem;}
section > .title p {text-align: left; font-size:.875rem; color: #fff; font-weight: 400;line-height: 1.5; min-height:1.5rem; margin-top: 0.75rem;  margin-left: 1rem;}

section > .title.blue{margin:0;text-align:left;padding:1.75rem 0 1.188rem;background:#004687;height:auto;border-bottom:1px solid #1a5993;}
section > .title.blue h2{display:inline-block;color:#fff;font-size:1.25rem;}
section > .title.blue p{display:inline-block;color:#fff;font-size:0.6875rem;opacity:.8;margin:0 0 0 0.625rem;vertical-align:bottom;min-height:auto;}

form > table {width: 100%;}
form > table tr td {padding-bottom: .75rem ;}

.inner {padding: 0 1rem;}

footer {background: #32363a; margin-top: 6.25rem;}
footer .util {  text-align: center;}
footer .util:first-child { border-bottom: 0.0625rem solid rgba(255,255,255,.1)}
footer .util ul li {display: inline-block;  height: 2.5rem; line-height: 2.5rem; position: relative; padding: 0 0.5rem;}
footer .util ul li:after {content:""; display: block; position: absolute; right:-0.15rem; width: 0.0625rem; height: 0.6875rem; background: rgba(255,255,255,.1); top:1rem;}
footer .util ul li:last-child:after {display: none;}
footer .util ul li a {color: rgba(255,255,255,.6); font-size: 0.6875rem; }

footer .util address {font-size:0.8125rem; display: block; margin-bottom: 0.8rem;}
footer .call {background: #282b2e; text-align: center; font-size:0.8125rem;  height: 3.125rem; line-height:  3.125rem;} 
footer .call a {display: block;color:rgba(255,255,255,.4);}
footer .call strong {font-size:1rem; display: inline-block; margin-left: 0.5rem; color: #ddd;}

/* gnb */
#nav .ui-panel-inner {height: 100vh; position: relative;}
#nav .ui-panel-inner .box__mypage {background: #004e96;}
#nav .ui-panel-inner .box__mypage .util ul {padding:0.75rem 0.75rem 0;}
#nav .ui-panel-inner .box__mypage .util ul li {float: left;}
#nav .ui-panel-inner .box__mypage .util ul li a {font-size:0.625rem; color: #fff;}
#nav .ui-panel-inner .box__mypage .util ul li a:before  {content: ""; width: 1.063rem; height: 1.063rem; background: url(../img/icon/i_mypage.png) no-repeat; display: block; background-size: 200%; margin: 0 auto;}
#nav .ui-panel-inner .box__mypage .util ul li:last-child {float: right;}
#nav .ui-panel-inner .box__mypage .util ul li:last-child  a:before {background-position: right 0 top 0;}
#nav .ui-panel-inner .box__mypage .util ul:after,
#nav .ui-panel-inner .box__mypage .util dl:after {content:""; clear: both;display: block; float: none;}
#nav .ui-panel-inner .box__mypage .util dl {padding:1.5rem 0.75rem 0;}
#nav .ui-panel-inner .box__mypage .util dl dt {float: left; }
#nav .ui-panel-inner .box__mypage .util dl dt h2 {color: #fff; font-weight:300; font-size:1.125rem; line-height: 1.7;}
#nav .ui-panel-inner .box__mypage .util dl dt h2 strong {font-weight: 500;}
#nav .ui-panel-inner .box__mypage .util dl dd {float: right;}
#nav .ui-panel-inner .box__mypage .util dl dd a {display: block; color: #fff; font-size:0.625rem;text-align: center;}
#nav .ui-panel-inner .box__mypage .util dl dd a i {width: 2.25rem; height: 2.25rem; background-color: #67a62e; background-image:url('../img/icon/i_star.png'); background-repeat: no-repeat; background-size:58%; background-position:50% 50%;display: block; margin: 0 auto;border-radius:50%; margin-bottom: 0.3rem;}
#nav .ui-panel-inner .box__mypage .util:after {content:""; clear: both;display: block; float: none;}
#nav .ui-panel-inner .box__mypage .link {margin-top: 1.3rem;}
#nav .ui-panel-inner .box__mypage .link ul {display: table; width: 100%; table-layout: fixed;}
#nav .ui-panel-inner .box__mypage .link ul li {display: table-cell; width: 33.33%; text-align: center;background: #003c74; border-right: 1px solid #004e96;}
#nav .ui-panel-inner .box__mypage .link ul li a {color: #fff; display: block; font-size:0.8125rem; height: 2.75rem;line-height: 2.75rem; font-weight: 300;}
#nav .ui-panel-inner .call {position: absolute; width: 100%;bottom:0px; height: 3rem; line-height: 3rem; background:#59616d ; text-align: center; font-size:0.75rem;}
#nav .ui-panel-inner .call a {display: block; color: #fff;}
#nav .ui-panel-inner .call a span,
#nav .ui-panel-inner .call a strong {display: inline-block;height: 0.75rem; line-height: 0.75rem;;}
#nav .ui-panel-inner .call a strong  {font-size:0.9375rem;}
#nav .ui-panel-inner .call a i {display: inline-block; width: 0.75rem; height: 0.75rem; background: url('../img/icon/i_call.png') no-repeat ; background-size:contain; margin-left: 0.5rem;}

#nav .scroll__wrap {overflow-y:auto; height: calc(100vh - 15.15rem);}
#nav .scroll__wrap > ul {padding: 1rem;}
#nav .scroll__wrap > ul > li.ui-collapsible .ui-collapsible-content {padding: 1rem;}
#nav .scroll__wrap > ul > li.ui-collapsible li {line-height: 1.7;}
#nav .scroll__wrap > ul > li.ui-collapsible li a {font-size:0.875rem;}
#nav .scroll__wrap > ul > li.ui-collapsible li:before {content: '- ';}
#nav .scroll__wrap .ui-collapsible-set > .ui-collapsible.ui-corner-all { -webkit-border-radius: 0; border-radius: 0; }
#nav .scroll__wrap .ui-collapsible > .ui-collapsible-heading {font-size:0.9375rem;  height: 2.75rem;line-height: 2.75rem; border-bottom: 1px solid #ddd; background: #fbfcfd; position: relative;}
#nav .scroll__wrap .ui-collapsible > .ui-collapsible-heading a {margin-left: 0.5rem; font-weight: 500; }
#nav .scroll__wrap .ui-collapsible > .ui-collapsible-heading a:before {content: ''; float: left; display: inline-block; width: 1.5rem; height: 1.5rem; background:url('../img/icon/i_nav.png')no-repeat; background-size:cover; margin-left: 0.5rem; margin-top: 0.65rem;}
#nav .scroll__wrap .ui-collapsible:nth-child(2) > .ui-collapsible-heading a:before {background-position:33% -100%;}
#nav .scroll__wrap .ui-collapsible:nth-child(3) > .ui-collapsible-heading a:before {background-position:66% -100%;}
#nav .scroll__wrap .ui-collapsible:nth-child(4) > .ui-collapsible-heading a:before {background-position:99% -100%;}
#nav .scroll__wrap .ui-collapsible > .ui-collapsible-heading:after {content:"" ; display: block; position: absolute; right:1rem ; top:1.1rem;width: 0.875rem; height: 0.5rem; background: url('../img/icon/i_arr_nav.png');background-size:100%; background-position:left 0 bottom 0;}
#nav .scroll__wrap .ui-collapsible:not(.ui-collapsible-collapsed) > .ui-collapsible-heading {  }
#nav .scroll__wrap .ui-collapsible:not(.ui-collapsible-collapsed) > .ui-collapsible-heading:after { background-position:left 0 top 0;}
#nav .scroll__wrap .ui-collapsible:not(.ui-collapsible-collapsed) > .ui-collapsible-heading a {color: #004e96; font-weight: 600; }
