@charset "UTF-8";

body {width: 100%;}
.mobile {width: 100%; height: 100vh; max-width: 640px; min-width: 640px; margin: 0 auto; background: #fff;}


/* font */
@font-face {
    font-family:'NotoSansKR';
    font-weight:300;
    src: local(※),
        url('../font/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:400;
    src: local(※),
        url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:500;
    src: local(※),
        url('../font/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:700;
    src: local(※),
        url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/LatoLatin-Regular.woff) format('woff');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../font/LatoLatin-Bold.woff) format('woff');
  text-rendering: optimizeLegibility;
}



/* reset */
body{font-family:Lato, "NotoSansKR", '맑은고딕', Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-size:100%; color:#666; width:100%; height:100%;letter-spacing:-1px;line-height:1.2;font-weight:300;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td, img{margin:0;padding:0; vertical-align:top; border:none;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}
table { border-collapse: collapse;}
.blind{overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
select, input, textarea, button {font-family: Lato, "NotoSansKR";}
/* Link Css */
a{cursor:pointer; overflow:hidden;color:#666;text-decoration:none}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:none;}
address {font-style:normal;}
button{cursor:pointer; border:none; background:none; padding:0; margin:0 auto;}

/* Blind */
.blind{position:absolute;width:0;height:0;font-size:1px;text-indent:-9999px;overflow:hidden;}

/* block */
img{display:block;}
:focus { outline: none; }