@charset "UTF-8";



h3.contents__title {font-size:0.9375rem; color: #000; padding:1.75rem 0 1rem ;}
h4.contents__title {font-size:0.875rem; color: #000; padding:1.75rem 0 0.5rem ;}
hr + h3.contents__title {padding: 0 0 1rem;}
.contents__text p {font-size:0.8125rem; margin-bottom: 0.75rem; line-height: 1.6;}



/* 로그인 */
.login .snsLogin {margin-top: 1.875rem; padding-top: 1.875rem; border-top: 1px solid #ddd;}
.login .snsLogin ul li {height: 2.813rem; line-height: 2.813rem; margin-bottom: 0.75rem ; position: relative;}
.login .snsLogin ul li:last-child {margin-bottom: 0;}
.login .snsLogin ul li a {color: #fff; display: block; padding-left: 3.25rem; font-size:0.875rem; text-align: center;}
.login .snsLogin ul li:nth-child(1) {background: #3b5999;}
.login .snsLogin ul li:nth-child(2) {background: #2db400;}
.login .snsLogin ul li:nth-child(3) {background: #fbdd01;}
.login .snsLogin ul li:nth-child(3) a {color: #333;}
.login .snsLogin ul li a i {display: block; position: absolute; left:0; width:3.125rem; height: 2.813rem; border-right: 1px solid rgba(255,255,255,.4);}
.login .snsLogin ul li a i:after {content:""; display: block;width:1.5rem; height:1.5rem;background: url('../img/icon/i_snsLogin.png') no-repeat; margin: 0.5625rem auto 0;}
.login .snsLogin ul li:nth-child(2) a i:after {background-position:-24px 0 ;}
.login .snsLogin ul li:nth-child(3) a i:after {background-position:-48px 0 ;}
.login .snsLogin ul li:nth-child(3) a i {border-right: 1px solid rgba(0,0,0,.1);}

.login .util {margin-top: 1.75rem;}
.login .util ul {display: table; width: 100%; table-layout: fixed;}
.login .util ul li {display: table-cell;text-align: center; border-right: 1px solid #aaa; height: 1rem; line-height: 1rem;}
.login .util ul li a {font-size:0.875rem; color: #000;}
.login .util ul li:last-child {border-right:  0;}


/* 예약 - Step*/
.step {background: #004687; height: 3.375rem;}
.step h3 {font-size:0.875rem; height: 3.375rem; line-height: 3.375rem;color: #fff; float: left; font-weight: 500; margin-left: 1rem;}
.step ul {float: right; margin-top: 1.125rem; margin-right: 1rem;}
.step ul li {float: left; color: #fff;font-size:0.6875rem; width: 1.125rem; height: 1.125rem;line-height: 1.125rem; text-align: center; display: inline-block;border-radius:50%; background:rgba(0,0,0,.3) ;}
.step ul li.on {background: #fff; color: #004687;}

/* 예약 - form */
.form dl dt {font-size:0.8125rem; font-weight: 500; color: #000; padding-bottom:0.875rem ; margin-top: 1.875rem;}
.form dl dt.policy {border:1px solid #ddd; margin-top: 0.5rem;}
.form dl dt.policy .title {padding: 1rem; position: relative;}
.form dl dt.policy .title:after {content:""; clear: both;display: block; float: none;}
.form dl dt.policy .title h2 {font-size: 0.875rem; float: left; width: calc(100% - 4rem); line-height: 1.6}
.form dl dt.policy .title a {line-height: 1.6; float: right; width: 4rem; display: block; text-indent: -9999px; overflow: hidden;}
.form dl dt.policy .title a:after {content: ""; position: absolute; top: 50%; margin-top: -0.4375rem; right:1rem; width: 0.5rem; display: block; height: 0.875rem; background: url('../img/icon/i_arr_cal.png') no-repeat; background-size: cover;}
.form dl dt.policy .chk {border-top: 1px solid #ddd; padding:1rem 1rem 0; }

i.required {width: 0.375rem; height: 0.375rem; background: url('../img/icon/i_required.png') no-repeat; display: inline-block; position: relative;top:-0.625rem;}
.rsv_yn {font-size: 0.6875rem; text-align: right; position: relative; margin-bottom: 1.5rem;}
.rsv_yn span {width: 0.6875rem; height: 0.6875rem; display: inline-block; border-radius:50%; margin-right: 0.25rem; position: relative; top:0.125rem;}
.rsv_yn span.y {background: #004e96;}
.rsv_yn span.n {background: #ddd; margin-left:0.75rem ;}

/* 진료과 */
.tab__med {margin-top: 1.75rem ;}
.tab__med:after {float:none; display:block; clear:both; content:"";}
.tab__med .ui-tabs-nav {width: 19rem; margin: 0 auto;}
.tab__med .ui-tabs-nav > li {width: 2rem; height: 2rem; line-height:2rem; margin: 0 0.25rem 0.25rem;border-radius:50%; float: left; background: #f6f8fa;color: #222; text-align: center; font-size:0.875rem;}
.tab__med .ui-tabs-nav > li:nth-child(7):after {content: ''; float: none; display: block; clear: both;}
.tab__med .ui-tabs-nav > li.ui-state-active {background: #67a62e;  }
.tab__med .ui-tabs-nav > li.ui-state-active a { color: #fff; font-weight: 600;}
.tab__med .ui-tabs-panel {border:1px solid #ddd; border-bottom: 0; margin-top: 1rem;}
.tab__med .ui-tabs-panel > ul:after {float:none; display:block; clear:both; content:"";}
.tab__med .ui-tabs-panel > ul li {width: 50%; float: left; height: 10.63rem; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing:border-box;}
.tab__med .ui-tabs-panel > ul li:nth-child(odd) {border-left: none;} 
.tab__med .ui-tabs-panel > ul li h3 {text-align: center; font-size: 0.875rem; color: #222; margin-top: 1.5rem ;}
.tab__med .ui-tabs-panel > ul li i {width: 3rem; height: 3rem; display: block; margin: 0.3rem auto 0.5rem; background-image: url('../img/icon/i_med.png'); background-repeat: no-repeat; background-size:1000%;}
.tab__med .ui-tabs-panel > ul li .info {text-align: center;}
.tab__med .ui-tabs-panel > ul li .info a {display: inline-block; font-size:0.75rem; width: 2rem; margin: 0 0.25rem;}
.tab__med .ui-tabs-panel > ul li .info a:before {content: ''; display: block; position: relative; margin: 0 auto; width: 1.75rem; height: 1.75rem; border-radius:50%; border:1px solid #ddd; margin-bottom: 0.5rem; background-image: url('../img/icon/i_link_doc.png'); background-repeat:no-repeat; background-size:64%; background-position:50% 50%;}
.tab__med .ui-tabs-panel > ul li .info a:nth-child(2):before {background-image: url('../img/icon/i_link_loc.png');}
.tab__med .ui-tabs-panel > ul li .info a:nth-child(3):before {background-image: url('../img/icon/i_link_cal.png');}

i.med1-1 {background-position: 0 0;}
i.med1-2 {background-position: -3rem 0;}
i.med1-3 {background-position: -6rem 0;}

i.med2-1 {background-position: 0 -3rem;}

i.med6-1 {background-position: 0 -6rem;}
i.med6-2 {background-position: -3rem -6rem;}
i.med6-3 {background-position: -6rem -6rem;}

i.med7-1 {background-position: 0 -9rem;}
i.med7-2 {background-position: -3rem -9rem;}
i.med7-3 {background-position: -6rem -9rem;}
i.med7-4 {background-position: -9rem -9rem;}
i.med7-5 {background-position: -12rem -9rem;}
i.med7-6 {background-position: -15rem -9rem;}
i.med7-7 {background-position: -18rem -9rem;}
i.med7-8 {background-position: -21rem -9rem;}
i.med7-9 {background-position: -24rem -9rem;}

i.med8-1 {background-position: 0 -12rem;}
i.med8-2 {background-position: -3rem -12rem;}
i.med8-3 {background-position: -6rem -12rem;}
i.med8-4 {background-position: -9rem -12rem;}
i.med8-5 {background-position: -12rem -12rem;}
i.med8-6 {background-position: -15rem -12rem;}

i.med9-1 {background-position: 0 -15rem;}
i.med9-2 {background-position: -3rem -15rem;}
i.med9-3 {background-position: -6rem -15rem;}
i.med9-4 {background-position: -9rem -15rem;}
i.med9-5 {background-position: -12rem -15rem;}
i.med9-6 {background-position: -15rem -15rem;}

i.med10-1 {background-position: 0 -18rem;}
i.med13-1 {background-position: -3rem -18rem;}

i.med14-1 {background-position: 0 -21rem;}
i.med14-2 {background-position: -3rem -21rem;}
i.med14-3 {background-position: -6rem -21rem;}
i.med14-4 {background-position: -9rem -21rem;}
i.med14-5 {background-position: -12rem -21rem;}

/* 의료진 */
span.occupy {width: 0.75rem; height: 0.75rem; background: #fdc75b;display: inline-block; border-radius:50%;}
.doctor {margin-top: 1.25rem;}
.doctor ul li {border:1px solid #ddd; padding:0.75rem ; margin-bottom: 0.75rem;}
.doctor ul li:last-child {margin-bottom: 0;}
.doctor ul li dl dt:after,
.doctor ul li:after{content:""; clear: both;display: block; float: none;}
.doctor ul li dl dt figure {float: left; width:  5.625rem ;}
.doctor ul li dl dt figure img {width: 100%;}
.doctor ul li dl dt .title {float: right; width: calc(100% -  6.75rem); position: relative;}
.doctor ul li dl dt .title i.doctor-like {display: inline-block; position: absolute; right:0; top:0; width:  1.125rem; height: 1rem; background-size: 200%; background-image:url('../img/icon/i_heart.png'); background-repeat: no-repeat;}
.doctor ul li dl dt .title i.doctor-like.on {background-position:right 0 top 0;}
.doctor ul li dl dt .title h3 { font-weight: 400; font-size:1rem; color: #000; margin-top: 1.625rem;}
.doctor ul li dl dt .title p {font-size:0.8125rem; margin-top: 0.625rem;}


/* CS */
.contents > .cs {border-top: 1px solid #ddd;}
.link__cs  ul:after {content:""; clear: both;display: block; float: none;}
.link__cs  ul li {float: left; width: calc(50% - 0.5rem); box-sizing:border-box; border:1px solid #ddd; margin-bottom: 1rem; text-align: center; padding: 1rem 0;}
.link__cs  ul li figure {padding-bottom: 0.5rem;}
.link__cs  ul li figure img {width: 50%; margin: 0 auto;}
.link__cs  ul li:nth-child(even) {float: right;}

/* 건강매거진 */
.box__news h3 {font-size:0.9375rem; font-weight: 500; color: #000; margin: 2.125rem 0 0.75rem; position: relative;}
.box__news h3 a {position: absolute; right:0 ; padding-right:0.7rem; top:0.3rem; font-size:0.75rem;}
.box__news h3 a:after {position: absolute; content: '>'; right:0; font-family: dotum; font-weight: 600; font-size:0.75rem;}
.box__news  ul li dl dd {font-size: 0.875rem; font-weight: 600; color: #000; padding: 0.5rem 0 0.5rem 3.2rem;  min-height:2.25rem; line-height: 1.5; background-image:url(../img/icon/i_gil.png); background-repeat:no-repeat; background-size:2rem; background-position:0.7rem 50%;}
.box__news  ul li dl dt img {width: 100%; height: ;} 
.box__news  ul li dl {border:1px solid #ddd;}

/*회원가입*/
.box__join {margin-top:1.875rem;}
.box__join ul:after {content:""; clear: both;display: block; float: none;}
.box__join ul {border-left: 1px solid #ddd; border-top: 1px solid #ddd;}
.box__join ul li {border-right: 1px solid #ddd; width: 50%; float: left; box-sizing:border-box; border-bottom: 1px solid #ddd;}
.box__join ul li a {display: block; height:10rem;}
.box__join ul li a h3 {text-align: center; margin-top: 1.25rem; font-size:1rem; color: #000;}
.box__join ul li a i {width: 3.75rem; height: 3.75rem; display: block; margin: 0.625rem auto; background-image: url('../img/icon/i_join.png'); background-repeat:no-repeat; background-size:600%;}
.box__join ul li:nth-child(2) a i {background-position:-3.75rem 0;}
.box__join ul li:nth-child(3) a i {background-position:-7.5rem 0;}
.box__join ul li:nth-child(4) a i {background-position:-11.25rem 0;}
.box__join ul li:nth-child(5) a i {background-position:-15rem 0;}
.box__join ul li:nth-child(6) a i {background-position:-18.75rem 0;}
.box__join ul li a span {display: block; text-align: center; font-size:0.75rem;}