@charset "UTF-8";



/* 로그인 */
.login {margin-top: 1.5rem;}
.login .snsLogin {margin-top: 1.875rem; padding-top: 1.875rem; border-top: 1px solid #ddd;}
.login .snsLogin ul li {height: 2.813rem; line-height: 2.813rem; margin-bottom: 0.75rem ; position: relative;}
.login .snsLogin ul li:last-child {margin-bottom: 0;}
.login .snsLogin ul li a {color: #fff; display: block; padding-left: 3.25rem; font-size:0.875rem; text-align: center;}
.login .snsLogin ul li:nth-child(1) {background: #3b5999;}
.login .snsLogin ul li:nth-child(2) {background: #2db400;}
.login .snsLogin ul li:nth-child(3) {background: #fbdd01;}
.login .snsLogin ul li:nth-child(3) a {color: #333;}
.login .snsLogin ul li a i {display: block; position: absolute; left:0; width:3.125rem; height: 2.813rem; border-right: 1px solid rgba(255,255,255,.4);}
.login .snsLogin ul li a i:after {content:""; display: block;width:1.5rem; height:1.5rem;background: url('../img/icon/i_snsLogin.png') no-repeat; margin: 0.5625rem auto 0;}
.login .snsLogin ul li:nth-child(2) a i:after {background-position:-24px 0 ;}
.login .snsLogin ul li:nth-child(3) a i:after {background-position:-48px 0 ;}
.login .snsLogin ul li:nth-child(3) a i {border-right: 1px solid rgba(0,0,0,.1);}

.login .util {margin-top: 1.75rem;}
.login .util ul {display: table; width: 100%; table-layout: fixed;}
.login .util ul li {display: table-cell;text-align: center; border-right: 1px solid #aaa; height: 1rem; line-height: 1rem;}
.login .util ul li a {font-size:0.875rem; color: #000;}
.login .util ul li:last-child {border-right:  0;}


/* 예약 - Step*/
.step {background: #567b9d; height: 3.375rem;}
.step h3 {font-size:0.875rem; height: 3.375rem; line-height: 3.375rem;color: #fff; float: left; font-weight: 500; margin-left: 1rem;}
.step ul {float: right; margin-top: 1.125rem; margin-right: 1rem;}
.step ul li {float: left; color: #fff;font-size:0.6875rem; width: 1.125rem; height: 1.125rem;line-height: 1.125rem; text-align: center; display: inline-block;border-radius:50%; background:rgba(0,0,0,.3) ;}
.step ul li ~ li{margin-left:0.375rem;}
.step ul li.on {background: #fff; color: #004687;}
.step ul li.complete{background:#fff url(../img/icon/i_step_complete.png) no-repeat 50% 50%;background-size:100% auto;text-indent:-9999em;}

/* 예약 - form */
.form dl dt {font-size:0.8125rem; font-weight: 500; color: #000; padding-bottom:0.875rem ; margin-top: 1.875rem;}
.form dl dt.policy {border:1px solid #ddd; margin-top: 1rem; background: #fbfcfd;}
.form dl dt.policy .title {padding: 1rem; position: relative; background: #fff;}
.form dl dt.policy .title:after {content:""; clear: both;display: block; float: none;}
.form dl dt.policy .title h2 {font-size: 0.875rem; float: left; width: calc(100% - 4rem); line-height: 1.6}
.form dl dt.policy .title a {line-height: 1.6; float: right; width: 4rem; display: block; text-indent: -9999px; overflow: hidden;}
.form dl dt.policy .title a:after {content: ""; position: absolute; top: 50%; margin-top: -0.4375rem; right:1rem; width: 0.5rem; display: block; height: 0.875rem; background: url('../img/icon/i_arr_cal.png') no-repeat; background-size: cover;}
.form dl dt.policy .chk {border-top: 1px solid #ddd; padding:1rem 1rem 0; }
.form dl dd + dt.policy{margin-top:1.875rem;}

.form dl dt.policy2 {border:1px solid #ddd; padding: 1rem;}
.form dl dt.policy2 small {display: block; padding-left: 2.125rem ; font-size: 0.6875rem; color: #666;} 

i.required {width: 0.375rem; height: 0.375rem; background: url('../img/icon/i_required.png') no-repeat; display: inline-block; position: relative;top:-0.625rem;}
.rsv_yn {font-size: 0.6875rem; text-align: right; position: relative; margin-bottom: 1.5rem;}
.rsv_yn span {width: 0.6875rem; height: 0.6875rem; display: inline-block; border-radius:50%; margin-right: 0.25rem; position: relative; top:0.125rem;}
.rsv_yn span.y {background: #004e96;}
.rsv_yn span.n {background: #ddd; margin-left:0.75rem ;}

/* 진료과 */
.tab__med {margin-top: 1.75rem ;}
.tab__med:after {float:none; display:block; clear:both; content:"";}
.tab__med .ui-tabs-nav {width: 20rem; margin: 0 auto; text-align:center;}
.tab__med .ui-tabs-nav > li {width: 2rem; height: 2rem; display:inline-block; margin:0 0.25rem 0.25rem; }
.tab__med .ui-tabs-nav > li a {width: 2rem; height: 2rem; line-height:2rem; border-radius:50%;  background: #f6f8fa;color: #222; text-align: center; font-size:0.875rem; display:block;}
.tab__med .ui-tabs-nav > li:nth-child(7):after {content: ''; float: none; display: block; clear: both;}
.tab__med .ui-tabs-nav > li.ui-state-active { }
.tab__med .ui-tabs-nav > li.ui-state-active a {background: #67a62e;  color: #fff; font-weight: 600;}
.tab__med .ui-tabs-panel {border:1px solid #ddd; border-bottom: 0; margin-top: 1rem;}
.tab__med .ui-tabs-panel > ul:after {float:none; display:block; clear:both; content:"";}
.tab__med .ui-tabs-panel > ul li {width: 50%; float: left; height: 10.63rem; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing:border-box;}
.tab__med .ui-tabs-panel > ul li:nth-child(odd) {border-left: none;}
.tab__med .ui-tabs-panel > ul li h3 {text-align: center; font-size: 0.875rem; color: #222; margin-top: 1.5rem ; line-height:1;}
.tab__med figure {width: 3rem; height: 3rem; display: block; margin: 0.3rem auto 0.5rem; background-image: url('../img/icon/i_med.png'); background-repeat: no-repeat; background-size:1000%;}
.tab__med .ui-tabs-panel > ul li .info {text-align: center;}
.tab__med .ui-tabs-panel > ul li .info a {display: inline-block; font-size:0.75rem; width: 2rem; margin: 0 0.25rem;}
.tab__med .ui-tabs-panel > ul li .info a:before {content: ''; display: block; position: relative; margin: 0 auto; width: 1.75rem; height: 1.75rem; border-radius:50%; border:1px solid #ddd; margin-bottom: 0.5rem; background-image: url('../img/icon/i_link_doc.png'); background-repeat:no-repeat; background-size:64%; background-position:50% 50%;}
.tab__med .ui-tabs-panel > ul li .info a:nth-child(2):before {background-image: url('../img/icon/i_link_loc.png');}
.tab__med .ui-tabs-panel > ul li .info a:nth-child(3):before {background-image: url('../img/icon/i_link_cal.png');}

.tab__med.rsv li {border:0; border-top: 1px solid #ddd;}
.tab__med.info {margin-top: 0px;}
.tab__med.info > ul:after {float:none; display:block; clear:both; content:"";}
.tab__med.info > ul {border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.tab__med.info > ul li {width:50%; box-sizing:border-box; float: left; border-left:1px solid #ddd; border-top:1px solid #ddd; height:5.4rem; text-align: center;}
.tab__med.info > ul li span {font-size:0.85rem;}

figure.med1-1 {background-position: 0 0;}
figure.med1-2 {background-position: -3rem 0;}
figure.med1-3 {background-position: -6rem 0;}

figure.med2-1 {background-position: 0 -3rem;}

figure.med6-1 {background-position: 0 -6rem;}
figure.med6-2 {background-position: -3rem -6rem;}
figure.med6-3 {background-position: -6rem -6rem;}

figure.med7-1 {background-position: 0 -9rem;}
figure.med7-2 {background-position: -3rem -9rem;}
figure.med7-3 {background-position: -6rem -9rem;}
figure.med7-4 {background-position: -9rem -9rem;}
figure.med7-5 {background-position: -12rem -9rem;}
figure.med7-6 {background-position: -15rem -9rem;}
figure.med7-7 {background-position: -18rem -9rem;}
figure.med7-8 {background-position: -21rem -9rem;}
figure.med7-9 {background-position: -24rem -9rem;}

figure.med8-1 {background-position: 0 -12rem;}
figure.med8-2 {background-position: -3rem -12rem;}
figure.med8-3 {background-position: -6rem -12rem;}
figure.med8-4 {background-position: -9rem -12rem;}
figure.med8-5 {background-position: -12rem -12rem;}
figure.med8-6 {background-position: -15rem -12rem;}

figure.med9-1 {background-position: 0 -15rem;}
figure.med9-2 {background-position: -3rem -15rem;}
figure.med9-3 {background-position: -6rem -15rem;}
figure.med9-4 {background-position: -9rem -15rem;}
figure.med9-5 {background-position: -12rem -15rem;}
figure.med9-6 {background-position: -15rem -15rem;}

figure.med10-1 {background-position: 0 -18rem;}
figure.med13-1 {background-position: -3rem -18rem;}

figure.med14-1 {background-position: 0 -21rem;}
figure.med14-2 {background-position: -3rem -21rem;}
figure.med14-3 {background-position: -6rem -21rem;}
figure.med14-4 {background-position: -9rem -21rem;}
figure.med14-5 {background-position: -12rem -21rem;}

.tab__cln  {border:1px solid #ddd; border-bottom: 0; margin-top: 1rem;}
.tab__cln > ul:after {float:none; display:block; clear:both; content:"";}
.tab__cln > ul li {width: 50%; float: left; height: 10.63rem; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing:border-box;}
.tab__cln > ul li:nth-child(odd) {border-left: none;}
.tab__cln > ul li h3 {text-align: center; font-size: 0.875rem; color: #222; margin-top: 1.5rem ;line-height:1;}
.tab__cln > ul li figure {width: 3rem; height: 3rem; display: block; margin: 0.3rem auto 0.5rem; background-image: url('../img/icon/i_clinic.png'); background-repeat: no-repeat; background-size:1000%;}
.tab__cln.center > ul li figure {background-image: url('../img/icon/i_center.png');}
.tab__cln.support > ul li figure {background-image: url('../img/icon/i_support.png');}
.tab__cln > ul li .info {text-align: center;}
.tab__cln > ul li .info a {display: inline-block; font-size:0.75rem; width: 2rem; margin: 0 0.25rem;}
.tab__cln > ul li .info a:before {content: ''; display: block; position: relative; margin: 0 auto; width: 1.75rem; height: 1.75rem; border-radius:50%; border:1px solid #ddd; margin-bottom: 0.5rem; background-image: url('../img/icon/i_link_doc.png'); background-repeat:no-repeat; background-size:64%; background-position:50% 50%;}
.tab__cln > ul li .info a:nth-child(2):before {background-image: url('../img/icon/i_link_loc.png');}
.tab__cln > ul li .info a:nth-child(3):before {background-image: url('../img/icon/i_link_cal.png');}

figure.cln1 {background-position: 0 0;}
figure.cln2 {background-position: -3rem 0;}
figure.cln3 {background-position: -6rem 0;}
figure.cln4 {background-position: -9rem 0;}
figure.cln5 {background-position: -12rem 0;}
figure.cln6 {background-position: -15rem 0;}
figure.cln7 {background-position: -18rem 0;}
figure.cln8 {background-position: -21rem 0;}
figure.cln9 {background-position: -24rem 0;}
figure.cln10 {background-position: -27rem 0;}
figure.cln11 {background-position: -0rem -3rem;}
figure.cln12 {background-position: -3rem -3rem;}
figure.cln13 {background-position: -6em -3rem;}
figure.cln14 {background-position: -9rem -3rem;}
figure.cln15 {background-position: -12rem -3rem;}
figure.cln16 {background-position: -15rem -3rem;}
figure.cln17 {background-position: -18rem -3rem;}
figure.cln18 {background-position: -21rem -3rem;}
figure.cln19 {background-position: -24rem -3rem;}
figure.cln20 {background-position: -27rem -3rem;}
figure.cln21 {background-position: -0rem -6rem;}
figure.cln22 {background-position: -3rem -6rem;}

figure.spt1 {background-position: 0 0;}
figure.spt2 {background-position: -3rem 0;}
figure.spt3 {background-position: -6rem 0;}
figure.spt4 {background-position: -9rem 0;}
figure.spt5 {background-position: -12rem 0;}
figure.spt6 {background-position: -15rem 0;}


/* 의료진 */
span.occupy {width: 0.75rem; height: 0.75rem; background: #fdc75b;display: inline-block; border-radius:50%;}
.doctor {margin-top: 1.25rem;}
.doctor ul li {border:1px solid #ddd; padding:0.75rem ; }
.doctor ul li ~ li{margin-top: 0.75rem;}
.doctor ul li dl dt:after,
.doctor ul li:after{content:""; clear: both;display: block; float: none;}
.doctor ul li dl dt figure {float: left; width:  5.625rem ;}
.doctor ul li dl dt figure img {width: 100%;}
.doctor ul li dl dt .title {float: right; width: calc(100% -  6.75rem); min-height:7.188rem; position: relative;}
.doctor ul li dl dt .title i.doctor-like {display: inline-block; position: absolute; right:0; top:0; width:  1.125rem; height: 1rem; background-size: 300%; background-image:url('../img/icon/i_heart.png'); background-repeat: no-repeat;}
.doctor ul li dl dt .title i.doctor-like.on {background-position:left 1.125rem top 0;}
.doctor ul li dl dt .title h3 { font-weight: 400; font-size:1rem; color: #000; margin-top: 1.625rem;}
.doctor ul li dl dt .title p {font-size:0.8125rem; margin-top: 0.625rem;}
.doctor ul li dl dt .title a {position: absolute; bottom:0; font-size:0.75rem; font-weight: 500;}
.doctor ul li dl dt .title a:after {content: '>'; font-size:0.75rem;display: inline-block; padding-left: 0.25rem; font-family: dotum; font-weight: 600;} 

/* 의료진 상세 팝업 */
.profile {background: #567b9d; overflow: hidden;}
.ui-popup-container .profile.ui-popup .inner {height: calc(100vh - 3.4rem);}
.profile .docName {position: relative; height: calc(100vh - 3.4rem);}

.profile .docClose {position: absolute; right:0; width:2rem; height: 2rem; top:0; z-index: 56; font-size:1.2rem; font-family: Lato; display: inline-block; text-align: center; line-height: 2rem;}

.profile .docName h4 {color: #fff; font-size:1.375rem; font-weight: 500; line-height: 1.4; margin-top: 2.5rem;}
.profile .docName h4 small {display: block; font-size:1rem;}
.profile .docName h4 strong {font-size:1.625rem;}
.profile .docName figure {width: calc(100% + 2rem); margin-left: -1rem; height: calc(100vh - 3.4rem);}
.profile .docName figure img {width: 100%; height: 100%;}

.profile .docName .box__name {width:12.5rem; height: 10rem; position: absolute; bottom:1rem; left:1rem; z-index: 4; background: rgba(0,0,0,.7); box-sizing:border-box; padding-left: 1.5rem;}

.profile .docName .box__name h4 {color: #fff; font-size:1.375rem; font-weight: 500; line-height: 1.4; margin-top: 2rem;}
.profile .docName .box__name h4 small {display: block; font-size:1rem;}
.profile .docName .box__name h4 strong {font-size:1.625rem;}
.profile .docName .box__name a {display: inline-block; width: calc(100% - 3rem); padding-left: 1.5rem; height: 1.875rem; line-height: 1.875rem; border-radius:0.95rem; font-size: 0.8125rem; color: rgba(255,255,255,.7); text-align: center; position: relative; z-index: 1; background: #004e96;}
.profile .docName .box__name a:before {content: ''; width: 1.125rem; height: 1rem; background-image:url('../img/icon/i_heart.png'); background-size:cover; display: inline-block; position: absolute; margin-left: -1.5rem; margin-top:0.45rem ;}
.profile .docName .box__name a.on {background: #fcaf15; color: #fff; }

.profile .docProf {padding-bottom: 3rem;}
.profile .docProf h4 {padding-top:  1.25rem; font-size:1.125rem;}
.profile .docProf table + h4 {margin-top: 1.25rem;border-top: 1px solid #ddd;}
.profile .docProf table tr th {text-align: left; color: #333; font-size:0.8125rem;}
.profile .docProf .table-col table tr th {text-align: center;}
.profile .docProf table tr td {color: #000; font-size:0.8125rem; vertical-align: middle;}

.profile .docPro {margin-left: -1rem; width: 100%; background: #567b9d; padding:  3rem 1rem 4rem; color: #fff; overflow: hidden; position: relative;}
.profile .docPro h4 {color: #fff; margin-top: 25px;}
.profile .docPro .contents__text {width: 54%; font-size:0.85rem;}
.profile .docPro figure {position: absolute; right:2rem; width:38%; bottom:0;}
.profile .docPro figure img {width: 100%;}

/* CS */
.contents > .cs {border-top: 1px solid #ddd;}
.contents > .member {border-top:1px solid #6788a7;}
.link__cs {margin-top:1.875rem;}
.link__cs  ul:after {content:""; clear: both;display: block; float: none;}
.link__cs  ul li {float: left; width: calc(50% - 0.5rem); box-sizing:border-box; border:1px solid #ddd; margin-bottom: 1rem; text-align: center; padding: 1rem 0;}
.link__cs  ul li figure {padding-bottom: 0.5rem;}
.link__cs  ul li figure img {width: 50%; margin: 0 auto;}
.link__cs  ul li:nth-child(even) {float: right;}

/* 건강매거진 */
.box__news h3 {font-size:0.9375rem; font-weight: 500; color: #000; margin: 2.125rem 0 0.75rem; position: relative;}
.box__news h3 a {position: absolute; right:0 ; padding-right:0.7rem; top:0.3rem; font-size:0.75rem;}
.box__news h3 a:after {position: absolute; content: '>'; right:0; font-family: dotum; font-weight: 600; font-size:0.75rem;}
.box__news  ul li dl dd {font-size: 0.875rem; font-weight: 600; color: #000; padding: 0.5rem 0 0.5rem 3.2rem;  min-height:2.25rem; line-height: 1.5; background-image:url(../img/icon/i_gil.png); background-repeat:no-repeat; background-size:2rem; background-position:0.7rem 50%;}
.box__news  ul li dl dt img {width: 100%; height: ;}
.box__news  ul li dl {border:1px solid #ddd;}

/*회원가입*/
.box__join {margin-top:1.875rem;}
.box__join ul:after {content:""; clear: both;display: block; float: none;}
.box__join ul {border-left: 1px solid #ddd; border-top: 1px solid #ddd;}
.box__join ul li {border-right: 1px solid #ddd; width: 50%; float: left; box-sizing:border-box; border-bottom: 1px solid #ddd;}
.box__join ul li a {display: block; height:10rem;}
.box__join ul li a h3 {text-align: center; margin-top: 1.25rem; font-size:1rem; color: #000;}
.box__join ul li a i {width: 3.75rem; height: 3.75rem; display: block; margin: 0.625rem auto; background-image: url('../img/icon/i_join.png'); background-repeat:no-repeat; background-size:600%;}
.box__join ul li:nth-child(2) a i {background-position:-3.75rem 0;}
.box__join ul li:nth-child(3) a i {background-position:-7.5rem 0;}
.box__join ul li:nth-child(4) a i {background-position:-11.25rem 0;}
.box__join ul li:nth-child(5) a i {background-position:-15rem 0;}
.box__join ul li:nth-child(6) a i {background-position:-18.75rem 0;}
.box__join ul li a span {display: block; text-align: center; font-size:0.75rem;}

.box__auth ul:after {float:none; display:block; clear:both; content:"";}
.box__auth ul li {border:1px solid #ddd; margin-bottom: 1rem; padding: 1.625rem  1.5rem;}
.box__auth ul li:nth-child(1) {border-right: 0px;}
.box__auth ul li {width: calc(50% - 3rem - 2px); float: left;}
.box__auth ul li h4 {text-align: center; font-weight: 400;}
.box__auth ul li p {text-align: center; font-size:0.8125rem; margin-top: 1rem;}
.box__auth ul li a i {display: block; width: 2.5rem; height: 2.5rem; background-image:url('../img/icon/i_id_ph.png') ; background-repeat:no-repeat; background-size:cover; margin: 0 auto;}
.box__auth ul li:nth-child(2) a i {background-image: url('../img/icon/i_id_lock.png');}

.box__auth.type2 ul li {float: none; width: 100%; border:1px solid #ddd; box-sizing:border-box;}

.box__findID ul li {border:1px solid #ddd; margin-bottom: 1rem; padding: 1.625rem  1.5rem;}
.box__findID ul li h4 {text-align: center; font-weight: 400;}
.box__findID ul li p {text-align: center; font-size:0.8125rem; margin-top: 1rem;}


.box__foundID {padding: 0 1.5rem;}
.box__foundID h4 {text-align: center; font-weight: 400;}
.box__foundID .wp {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 0.5rem 0; margin: 1rem 0  0.8rem;}
.box__foundID .wp table {width: 100%;}
.box__foundID .wp table th,
.box__foundID .wp table td {text-align: left; font-size:0.8125rem; padding: 0.5rem;}

/* 공지사항 */
.box__noitce ul li {border-bottom: 1px solid #ddd; padding: 1.5rem 0;}
.box__noitce ul li i.new { background:#004e96; width: 0.8125rem ; height: 0.8125rem ; display: inline-block; position: relative; margin-left: 0.5rem;}
.box__noitce ul li i.new:after {content: 'N'; color: #fff; font-size:0.5rem; position: absolute; top:-0rem; left:0.1rem; text-decoration: none;}
.box__noitce ul li a strong {color: #000;}
.box__noitce ul li a {color: #333;}
.box__noitce ul li small {display: block; margin-top: 0.5rem ; color: #666; font-size:0.75rem;}

/* 예약버튼 */
.box__call {background: #59616d; color: #fff; height: 2.75rem; border-radius:0.25rem; margin-top: 2.25rem; padding: 0 0.75rem;}
.box__call a {color: #fff;}
.box__call dl:after {content:""; clear: both;display: block; float: none;}
.box__call dl dt {float: left; height: 2.75rem; line-height: 2.75rem; font-size:0.875rem; padding-left: 1.5rem; background-size:1rem; background-repeat:no-repeat; background-position:0 50%;}
.box__call dl dt.ph {background-image:url('../img/icon/i_ph.png'); }
.box__call dl dt.fax {background-image:url('../img/icon/i_fax.png'); }
.box__call dl dt.com {background-image:url('../img/icon/i_com.png'); }
.box__call dl dd {float: right; height: 2.75rem; line-height: 2.75rem; font-size:1.25rem; font-weight: 600;  background-size:0.4rem; background-repeat:no-repeat; background-position:right 0 top 50%;}
.box__call dl dd.more {background-image:url('../img/icon/i_arr_wh.png'); font-size:0.75rem; padding-right: 0.8rem;}

/* 공통 */
.dot_text{font-size:0.75rem;color:#333;position:relative;padding-left:0.5rem;margin-top:13px;}
.dot_text:after{width:0.125rem;height:0.125rem;background:#666;position:absolute;top:0.3125rem;left:0;content:"";}

.section_tit{font-size:1.125rem;color:#000;}
.s_tit{margin-top:1.625rem;font-size:0.9375rem;color:#000;}

.text_default{font-size:0.8125rem;color:#000;margin-top:0.625rem;}

.btn.call{height:2.75rem;background:#59616d;border-radius:4px;width:100%;color:#fff;}
.btn.call strong{display:inline-block;margin-left:0.9375rem;padding-left:1.5rem;background:url(../img/icon/i_call02.png) no-repeat 0 0.625rem;background-size:24px auto;}

.table_row{margin-top:0.6875rem;}
.table_row table{width:100%;border-top:1px solid #666;}
.table_row th{vertical-align:middle;font-weight:normal;border-bottom:1px solid #ddd;background:#f9f9f9;}
.table_row td{padding:0.6875rem 0 0.6875rem 0.8125rem;line-height:1.375rem;border-bottom:1px solid #ddd;font-weight:500;}

.table_row.type2 th{text-align:left;padding-left:0.9375rem;background:#f9f9f9;border-right:1px solid #ddd;}
.table_row.type2 td{font-weight:300;}

.table_col{}
.table_col table{width:100%;border-top:1px solid #111;}
.table_col thead th{color:#333;font-size:0.75rem;height:2.375rem;line-height:2.375rem;background:#f9f9f9;border-bottom:1px solid #ddd;}
.table_col tbody td{font-size:0.75rem;color:#010101;text-align:center;padding:0.5625rem 0;line-height:1.063rem;border-bottom:1px solid #ddd;}
.table_col thead tr th ~ th,
.table_col tbody tr td ~ td{border-left:1px solid #ddd;}

.table-col.map.ta_l tr td:nth-child(n+2) {text-align: left;}
.table-col.map tr th,
.table-col.map tr td {border-right: 1px solid #ddd; }
.table-col.map tr td {padding: 0.5rem;}
.table-col.map tr th:last-child,
.table-col.map tr td:last-child {border-right: 0px;}
.table-col.map tr td:first-child {padding: 0;}
.table-col.map tr td span {font-weight: 500;}
.table-col.map tr td strong {color: #4171a8; display: block; margin-bottom: 0.5rem;}
.table-col.map tr td ul li {margin-bottom: 0.8rem;}
.table-col.map tr td ul li:last-child {margin-bottom: 0;}
.map.bus tr:nth-child(1) td:first-child span {color: #187fc4;}
.map.bus tr:nth-child(2) td:first-child span {color: #74318e;}
.map.bus tr:nth-child(3) td:first-child span {color: #707c87;}
.map.bus tr:nth-child(4) td:first-child span {color: #67a62e;}
.map.bus tr:nth-child(5) td:first-child span {color: #ff4949;}
.map.bus tr:nth-child(6) td:first-child span {color: #707c87;}
.map.sw tr:nth-child(1) td:first-child span {color: #213f93;}
.map.sw tr:nth-child(2) td:first-child span {color: #187fc4;}
.map.sw tr:nth-child(5) td:first-child span {color: #ff8a00;}

.img_wrap img{display:block;width:100%;}

.tab__depth3 {text-align:center;margin:2.063rem 0 0;}
.tab__depth3 > ul{font-size:0;}
.tab__depth3 > ul li{display:inline-block;padding:0 1.375rem;position:relative;}
.tab__depth3 > ul li ~ li:after{width:0.0625rem;height:0.6875rem;background:#969696;content:"";position:absolute;top:0;left:0;}
.tab__depth3 > ul li a{font-size:0.8125rem;color:#656565;padding-bottom:0.375rem;display:block;}
.tab__depth3 ul > li.ui-state-active a{color:#000;border-bottom:1px solid #666;}
.tab__depth3 > div{margin-top:1.5rem;}

.tab__depth3_vision > ul {margin: 1.25rem 0; text-align: center;}
.tab__depth3_vision > ul li {display:inline-block;padding:0 1.375rem;position:relative; margin: 0 0.25rem; height:1.8rem; line-height: 1.8rem;border-radius:0.9rem; border:1px solid #ddd;}
.tab__depth3_vision > ul li.ui-state-active {background: #fdb016; border:1px solid #fdb016;}
.tab__depth3_vision > ul li.ui-state-active a {color: #fff;}
.tab__depth3_vision > ul li a {font-size:0.8125rem;letter-spacing: 0.025rem;}

.btn_more{display:block;background:#f9f9f9;color:#333;font-size:0.8125rem;text-align:center;height:2.375rem;line-height:2.375rem;font-weight:500;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-top:-1px;}
.btn_more span{padding-right:1rem;display:inline-block;background:url(../img/icon/i_more.png) no-repeat 100% 50%;background-size:8px auto;}

.accordion_check_list{margin-top:1rem;}
.accordion_check_list .ui-collapsible-collapsed{border:1px solid #ddd;margin-top:-1px;padding:1rem}
.accordion_check_list .ui-collapsible:not(.ui-collapsible-collapsed){border:1px solid #004e96;z-index:10;position:relative;padding:1rem}
.accordion_check_list .accordion_head{position:relative;}
.accordion_check_list .accordion_head:after{width:14px;height:8px;background:url(../img/icon/i_accordion.png) no-repeat;background-size:100% auto;content:"";position:absolute;top:0.9375rem;right:0;}
.accordion_check_list .ui-collapsible-heading-collapsed:after{transform:rotate(-180deg);}
.accordion_check_list .accordion_head .flag{display:inline-block;border-radius:0.125rem;padding:0 0.5625rem;height:1.125rem;line-height:1.125rem;color:#fff;font-size:0.6875rem;background:#9ca6b0;font-weight:400;}
.accordion_check_list .accordion_head .tit{color:#333;font-size:0.8125rem;display:inline-block;margin-left: 0.75rem;}
.accordion_check_list .accordion_head .date{display:block;color:#010101;font-size:0.75rem;font-weight:400;margin-top:0.5625rem;}
.accordion_check_list .accordion_head .date span{display:inline-block;margin-right:0.5rem;padding-right:0.5625rem;position:relative;}
.accordion_check_list .accordion_head .date span:after{width:1px;background:#ddd;height:0.625rem;position:absolute;top:0.125rem;right:0;content:"";}

.none_date{border:1px solid #ddd;background:#fbfcfd url(../img/common/bg_doctor.png) no-repeat 50% 2.375rem;background-size:79px auto;height:13.75rem;text-align:center;box-sizing:border-box;padding-top:8.313rem;}

.border_box{border:1px solid #ddd;padding:1rem;margin-top: 0.625rem;}
.border_box img{display:block;width:100%;}
.border_box p{font-size:0.75rem;color:#666;line-height:1.125rem;margin-top:0.5rem;}


/***** 진료예약 *****/
/* 메인 */
.login_list{margin-top:15px;}
.login_list a{height:2.813rem;line-height:2.813rem;background:#004687;display:block;width:100%;color:#fff;font-size:0.875rem;box-sizing:border-box;text-align:center;}
.login_list a i{display:inline-block;width:2.813rem;height:2.813rem;background:url(../img/icon/i_login_logo.png) no-repeat 0 0;background-size:100% auto;vertical-align:middle;}
.login_list a span{display:inline-block;}
.login_list a > span{text-align:left;width:9.875rem;}
.login_list a ~ a{margin-top:0.75rem;}
.login_list a:nth-child(2){background:#3b5999}
.login_list a:nth-child(3){background:#2db400}
.login_list a:nth-child(4){background:#fbdd01}
.login_list a:nth-child(2) i{background-position:0 -2.813rem;}
.login_list a:nth-child(3) i{background-position:0 -5.625rem;}
.login_list a:nth-child(4) i{background-position:0 -8.438rem;}
.reserve_main .btn_area{margin-top:0.9375rem;}

/* 콘텐츠 */
.reserve_wrap .tab__med .ui-tabs-panel{border:none;}
.medi_list strong{display:block;text-align:center;font-size:1.063rem;color:#333;background:#f9f9f9;border-top:1px solid #dfdfdf;height:1.875rem;line-height:1.875rem;}
.medi_list ul{margin:0.8125rem 0;}
.medi_list li{line-height:1.688rem;font-size:0.875rem;color:#010101;text-align:center;}
.tab__med + .btn_area{border-top:1px solid #ddd;padding-top:2rem;}

.doctor_list{margin-top:1.75rem;}
.doctor_list .doctor_item ~ .doctor_item{margin-top:0.75rem;}
.doctor_item{display:block;border:1px solid #ddd;box-sizing:border-box;padding:0.75rem;font-size:0;position:relative;margin-bottom: 1rem;}
.doctor_item .doctor_img{display:inline-block;width:89px;height:118px;overflow:hidden;}
.doctor_item .doctor_img img{display:block;width:100%;}
.doctor_item .doctor_content{display:inline-block;margin-left:0.9375rem;color:#333;vertical-align:top;padding-top:1.563rem;}
.doctor_item .doctor_name{font-size:1.063rem;}
.doctor_item .doctor_field{font-size:0.8125rem;display:block;margin-top:0.625rem;}
.doctor_item i.doctor-like {display:inline-block;position:absolute;right:0.6875rem;top:1.063rem;width:1.125rem;height:1rem;background-size:300%; background-image:url('../img/icon/i_heart.png'); background-repeat:no-repeat;}
.doctor_item i.doctor-like.on {background-position:left 50% top 0;}
.doctor_list + .btn_area{margin-top:2.25rem;}
.s_tit + .doctor_item{margin-top:0.75rem;}

.reserve_calendar{margin-top:1.75rem;}
.time_choice{margin-bottom:2.188rem;display:flex;flex-wrap:wrap;border-top:1px solid #ddd;border-left:1px solid #ddd;margin-top:0.625rem;}
.time_choice a{display:flex;width:25%;}
.time_choice span{display:block;width:100%;text-align:center;height:2.125rem;line-height:2.125rem;color:#000;font-size:0.8125rem;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.time_choice a.active span{color:#fff;background:#4171a8;}
.time_choice a.off{cursor:default;}
.time_choice a.off span{background:#f5f5f5;color:#888;}

.form + .btn_area{margin-top:0.9375rem;}

.search_box{font-size:0;}
.search_box.map {margin: 1.75rem 0; border-top: 1px solid #eee;}
.search_box .ui-select{display:inline-block;width:25%;font-weight:500;height:3.375rem;line-height:3.375rem;}
.search_box .ui-select .ui-icon-carat-d{background-position:right 0.5625rem top 1.5rem}
.search_box .ui-input-text{display:inline-block;width:75%;}
.search_box .ui-input-text .inp_search{border-bottom:1px solid #eee;height:3.375rem;line-height:3.375rem;box-sizing:border-box;width:100%;padding-left:1.875rem;background:url(../img/icon/i_search.jpg) no-repeat 100% 100%;background-size:39px auto;}

/* 병실안내 */
.contents__title + .text_default,
.contents__title + .dot-list{margin-top:0;}

.info_rules_type_list li{border:1px solid #ddd;text-align:center;height:3.875rem;width:100%;color:#333;margin-top:0.8125rem;font-size:0.8125rem;}
.info_rules_type_list li > span{display:inline-block;padding:1.625rem 0 1.625rem 3.125rem;width:11.25rem;text-align:left;background:url(../img/icon/i_info.jpg) no-repeat 0 0;background-size:32px auto;height:62px;box-sizing:border-box;}
.info_rules_type_list li:nth-child(2) > span{background-position:0 -62px;padding:1.125rem 0 1.125rem 3.125rem;}
.info_rules_type_list li:nth-child(3) > span{background-position:0 -124px;}
.info_rules_type_box{margin-top:1rem;}
.info_rules_type_box .info_rules_item{border:1px solid #ddd;margin-top:-1px;padding:0 1rem 1rem;}
.info_rules_type_box .info_rules_item strong{display:block;text-align:center;padding-top:4.063rem;position:relative;}
.info_rules_type_box .info_rules_item strong:after{background:url(../img/icon/i_info02.jpg) no-repeat 50% 0;content:"";position:absolute;top:1.25rem;left:50%;width:1.938rem;height:2.563rem;background-size:31px auto;transform:translate(-50%);}
.info_rules_type_box .info_rules_item:nth-child(2) strong:after{background-position:0 -41px;}
.info_rules_type_box .info_rules_item:nth-child(3) strong:after{background-position:0 -82px;}
.info_rules_type_box .info_rules_item:nth-child(4) strong:after{background-position:0 -123px;}
.info_rules_type_box .info_rules_item:nth-child(5) strong:after{background-position:0 -164px;}

.tab__med.tell_group .ui-tabs-panel{border:0;}

.call_title {padding:1.875rem 0;text-align:center;}
.call_title span{display:inline-block;background:url(../img/icon/i_call03.jpg) no-repeat 0 50%;background-size:13px auto;padding-left:1.5rem;font-size:0.9375rem;color:#000;}
.call_title a{display:inline-block;font-size:1.25rem;font-weight:600;vertical-align:middle;color:#000;margin-left:1.875rem;}
.call_title + .devider{margin-top:0;}
.call_info {text-align: center;}
.call_info li{display:inline-block;font-size:0.8125rem;color:#666;position:relative;padding-left:1.563rem;line-height:1.063rem;}
.call_info li ~ li{margin-left:1.125rem;}
.call_info li:after{content:"1";width:1.063rem;height:1.063rem;line-height:1.063rem;background:#4171a8;font-weight:600;color:#fff;font-size:0.9375rem;border-radius:0.5625rem;position:absolute;top:0;left:0;text-align:center;vertical-align:middle;}
.call_info li:nth-child(2):after{content:"2";}
.call_info li:nth-child(3):after{content:"3";}
.call_info li:nth-child(4):after{content:"4";}

.store_list{margin-top:1.875rem;}
.store_list .store_item ~ .store_item{margin-top:1.563rem;}
.store_img{border:1px solid #ddd;}
.store_img img{display:block;width:100%;}
.store_item strong{display:block;margin:0.6875rem 0 0.4375rem;color:#333;}
.store_item p{font-size:0.875rem;color:#333;line-height:1.125rem;}

/* 회원가입 */

.chkParent {border:1px solid #ddd; border-bottom: none; padding: 0 1.5rem;}
.chkParent:last-child {border-bottom: 1px solid #ddd; margin-top: 0px; padding: 0.8125rem;}
.chkParent:last-child .ui-checkbox {line-height: 1.2; height: auto;}
.chkParent:last-child .ui-checkbox label {color: #666;}
.chkParent:last-child .ui-checkbox label:before {top:50%; margin-top: -0.75rem;}
.chkParent h4 {text-align: center; font-size:0.9375rem; color: #333; padding: 0.875rem 0; font-weight: 600;}
.chkParent p {text-align: center; color: #333; font-weight: 400;}
.join_complete{text-align:center;padding:1.75rem 0 0;background:url(../img/sub/bg_join_complete.jpg) no-repeat 50% 4.75rem;background-size:142px auto;}
.join_complete b{display:block;font-size:1.25rem;color:#000;}
.join_complete strong{color:#333;margin-top:7.813rem;display:block;}
.join_complete p{line-height:1.5rem;color:#333;margin:0.625rem 0 2.063rem;}

/* 인사말 */
.greeting_title{line-height:1.5rem;margin:1.563rem 0 1.25rem;}
.greeting_title p{margin-top:0.3125rem;}

.greeting .text_default{line-height:1.375rem;}
.greeting .text_default strong{display:block;font-size:0.9375rem;margin:0.9375rem 0;text-align:left;}

.sign{font-size:0.875rem;margin-top:0.9375rem;}
.sign strong{display:inline-block;font-size:1.188rem;margin-left:.6875rem;}

/* 찾아오시는 길 */
#map{margin-top:1.875rem;padding:0 1rem;}
#map .root_daum_roughmap{width:100% !important;border:none;padding:0;border-radius:0;}
#map .root_daum_roughmap .wrap_controllers{display:none;}
.btn_map_link{margin-top:1rem;}
.btn_map_link .btn{background:#258fff;color:#fff;width:100%;font-size:0.8125rem;font-weight:400;}
.btn_map_link .btn.naver{background:#00c73c;}

/* Vision & Mission */

.vision ul li figure img {width:65%; max-width:10rem; margin: 0 auto;}
.vision ul li h4 {display: none;}
.vision ul li p {margin: 1rem 0 2rem; font-weight: 500; font-size:0.75rem;}
.vision > p {font-size:1.2rem; line-height: 1.4; font-weight: 500; color: #000;}
.vision > p strong {color: #004e96;}

.mission .title {height:17rem; background-image: url('../img/sub/bg_mission.png'); background-repeat:no-repeat; background-size:cover; margin-left: -1rem; width: calc(100% + 2rem);position: relative;}
.mission .title h3 {color: #fff; font-size:1.5rem; padding-top: 2.5rem;}
.mission .title p {color: #fff; font-size:0.8125rem; padding-top: 2.5rem; line-height: 1.5; position: relative;}
.mission .title p:before {content: ''; width: 1px; height: 1rem; background: #fff; display: block; position: absolute; left:50%; top:0.75rem;}
.mission ul li {border-bottom: 1px solid #eee; padding: 1.5rem 0;}
.mission ul li:last-child {border-bottom: 0px;}
.mission ul li figure img {width:65%; max-width:10rem; margin: 0 auto;}
.mission ul li h4 {font-size:0.875rem; margin: 1rem 0 0.5rem;}
.mission ul li p {font-size:0.8125rem; line-height: 1.4;}

.hosInfo {margin-top: 1.25rem;}
.hosInfo .title {height:13rem; background-image: url('../img/sub/bg_hosInfo.png'); background-repeat:no-repeat; background-size:cover; margin-left: -1rem; width: calc(100% + 2rem);position: relative; text-align: center;}
.hosInfo .title h3 {color: #000; font-size:1.5rem; padding-top: 2.5rem; }
.hosInfo .title p {color: #333; font-size:0.8125rem; padding-top: 2.5rem; line-height: 1.5; position: relative;}
.hosInfo .title p:before {content: ''; width: 1px; height: 1rem; background: #333; display: block; position: absolute; left:50%; top:0.75rem;}
.hosInfo ul {margin-top: 0.5rem;}
.hosInfo ul li {border-bottom: 1px solid #eee; padding: 1.5rem 0;}
.hosInfo ul li:last-child {border-bottom: 0px;}
.hosInfo ul li h4 {font-size:1.375rem;}
.hosInfo ul li h4 strong {color: #004e96;}
.hosInfo ul li h4 small {display: block; font-size: 1.125rem; color: #333; font-weight: 500; margin-top: 0.25rem;}
.hosInfo ul li p {font-size:0.875rem; line-height: 1.5;}
.hosInfo ul li figure {margin: 0.8rem 0;}
.hosInfo ul li figure img {width: 100%;}
 
.tab__map {}
.tab__map .ui-navbar {overflow-x: auto;}
.tab__map .ui-navbar ul {width:40rem; padding-bottom: 0.85rem;}
.tab__map .ui-navbar ul li {float: left; width: 4rem;} 
.tab__map .ui-navbar ul li a {display: block; text-align: center; font-size:0.5625rem;}
.tab__map .ui-navbar ul li a i {display: block; margin: 0 auto; width: 2.5rem; height: 2.25rem; background-image:url('../img/icon/i_bd.png'); background-repeat:no-repeat; background-position:0 0; background-size:1000%; margin-bottom: 0.25rem;}
.tab__map .ui-navbar ul li.ui-state-active a {color: #222; font-weight: 600;}
.tab__map .ui-tabs-panel .sorting:after {content:""; clear: both;display: block; float: none;}
.tab__map .ui-tabs-panel .sorting {width: 100%; margin-bottom: 1rem;}
.tab__map .ui-tabs-panel .sorting .ui-select { width: calc(40% - 0.25rem); float: left;}
.tab__map .ui-tabs-panel .sorting .ui-select:last-child {width: 60%; float: right;}
.tab__map .ui-tabs-panel img {width: 100%;}

.tab__map .ui-navbar ul li:nth-child(1) a i {background-position: 0 0rem;}
.tab__map .ui-navbar ul li:nth-child(2) a i {background-position: -2.5rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(3) a i {background-position: -5rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(4) a i {background-position: -7.5rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(5) a i {background-position: -10rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(6) a i {background-position: -12.5rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(7) a i {background-position: -15rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(8) a i {background-position: -17.5rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(9) a i {background-position: -20rem 0rem;}
.tab__map .ui-navbar ul li:nth-child(10) a i {background-position: -22.5rem 0rem;}

.tab__map .ui-navbar ul li:nth-child(1).ui-state-active a i {background-position: 0 -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(2).ui-state-active a i {background-position: -2.5rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(3).ui-state-active a i {background-position: -5rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(4).ui-state-active a i {background-position: -7.5rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(5).ui-state-active a i {background-position: -10rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(6).ui-state-active a i {background-position: -12.5rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(7).ui-state-active a i {background-position: -15rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(8).ui-state-active a i {background-position: -17.5rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(9).ui-state-active a i {background-position: -20rem -2.25rem;}
.tab__map .ui-navbar ul li:nth-child(10).ui-state-active a i {background-position: -22.5rem -2.25rem;}

.achieve-img {padding-bottom: 1.5rem; margin-top: 1rem;}
.achieve-img li.slick-slide {margin-right: 0.1rem;width: 65vw !important;  max-width:280px; border:1px solid #eee; border-right: 0px;}
.achieve-img li.slick-slide img {  width: 100%;}
.achieve-img li.slick-slide div {font-size:0.85rem; padding:  0.5rem;color: #000; font-weight: 400;}

.history-title {text-align: center; color: #000; font-size:1.5rem; margin-top: 1rem; font-weight: 500;}

.timeline {padding-top: 1.5rem;}
.timeline dl dt {width:4.688rem; height: 4.688rem; line-height: 4.688rem; background: #004e96; color: #fff; text-align: center; display: block; border-radius:50%; font-size: 0.9375rem;}
.timeline dl dd {margin-left: 2.344rem;position: relative; padding-bottom: 1rem;}
.timeline dl dd:after {content: ''; width: 1px; height: 1rem; background: #ddd; display: block; position: absolute; margin-left: -0rem; top: 0;}
.timeline dl dd ul li {padding: 0 0 1rem 1rem; border-left: 1px solid #ddd; }
.timeline dl dd ul li:first-child {padding-top: 1rem;}
.timeline dl dd ul li:last-child {border-left: 0px;}
.timeline dl dd ul li:before {content: ''; width:0.9375rem ; height: 1px ; background: #ddd; display: block; position: absolute; margin-left: -0.35rem; margin-top: 0.625rem;}
.timeline dl dd ul li:after {content:""; clear: both;display: block; float: none;}
.timeline dl dd ul li p { float: right; width:calc(100% - 5rem); font-size:0.875rem;} 
.timeline dl dd ul li span {display: block; position: relative; float: left; width: 2rem; line-height: 1.25rem; color: #004e96; font-size:0.875rem; padding-left:2rem;}
.timeline dl dd ul li span:after {content: ''; left: 0.65rem; margin-top: 0.34rem;position: absolute; display: inline-block; background: #004e96; width: 0.6875rem; height: 0.6875rem;  border-radius:50%; }
.timeline dl dd ul li span:before {content: ''; margin-left: -3.75rem;  position: absolute; display: inline-block; background: #fff; width: 1.25rem; height: 1.25rem; border:1px solid #ddd; border-radius:50%; }

.timeline-for {border-bottom: 1px solid #ddd; margin-left: -1rem; width: calc(100% + 2rem);}
.timeline-for ul:after {content:""; clear: both;display: block; float: none;}
.timeline-for ul li {width: 4.5rem;height: 1.875rem; line-height: 1.875rem;  font-size:0.85rem; text-align: center;}
.timeline-for ul li a {height:  1.875rem; line-height: 1.875rem;  border-bottom: 2px solid #fff; display: inline-block; box-sizing:border-box;     padding: 0 0.25rem;}
.timeline-for ul li.slick-current a {color: #004e96; border-bottom: 2px solid #004e96; font-weight: 600;}


.img_box {width:100%;}
.img_box.expand {width:calc(100% + 2rem); margin-left: -1rem; margin-top: 1.25rem ;}
.img_box > img {width: 100%;}
.dot-list + small
.contents__text + small {color: #999;}
.info__grey {padding:1rem; background: #f9f9f9; font-size:0.85rem; line-height: 1.5;}
.inner .info__grey {margin-left: -1rem; width: 100%;}

.accordion-rules h6 {font-size:0.85rem; padding: 0.65rem 0 0.65rem 1.5rem; position: relative; background: #567b9d; color: #fff; border-bottom: 1px solid #6c90b1; font-weight: 400;}
.accordion-rules h6 span {position: absolute; left:0.5rem; top:0.5rem;}
.accordion-rules h6 + div {font-size:0.85rem; padding: 0.5rem 0; border-bottom:1px solid #ddd; line-height: 1.4;}
.contents__title.spec {padding-top: 0;}
.contents__title.spec span {display: inline-block; position: relative; z-index: 4; font-weight: 400; font-size:1.125rem;}
.contents__title.spec span:after  {content: ''; width: 100%; display: block;height:0.8rem; background: #e5f3d9; position: absolute; top:0.6rem; z-index: -1;}

.intro {height: 17.2rem; background: url('../img/sub/img_academy_vision.jpg'); background-position: 50% 50%; margin-left: -1rem; width: calc(100% + 2rem); margin-bottom: 1.875rem;}
.intro h4 {font-size:1.875rem; font-weight: 500; color: #fff; text-align: center; height: auto;padding-top: 3.125rem;}
.intro p {position: relative; text-align: center; color: #fff; padding-top: 3.125rem; margin-top: 0.5rem; line-height: 1.4;}
.intro p:before {content: ''; position: absolute; width:1px; height:1.8rem; background: #fff; left:50%; top:0;	}
.intro.aca_mission { background: url('../img/sub/img_academy_mission.jpg'); background-position: 50% 50%;}
.intro.aca_vision h4 {padding-top: 4.688rem;}

.list__vision {border-bottom: 1px solid #ddd;}
.list__vision ul li {border:1px solid #ddd; border-bottom: 0px; text-align: center; padding:1.25rem 0 ;}
.list__vision ul li figure img {width: 3.75rem; margin: 0  auto;}
.list__vision ul li h5 {font-size:1rem ; font-weight: 500; color: #000;}
.list__vision ul li p {font-size:0.8125rem; margin-top: 0.5rem; line-height: 1.5;}

.list__mission ul li {text-align: center; border-bottom: 1px solid #ddd; padding: 1.5rem 0;}
.list__mission ul li:last-child {border-bottom: 0px;}
.list__mission ul li figure img {width:8.438rem; margin: 0 auto;}
.list__mission ul li h5 {color: #004e96; font-weight: 500; font-size:0.875rem; margin: 0.875rem 0;}
.list__mission ul li:nth-child(2) h5 {color: #fdb016;}
.list__mission ul li:nth-child(3) h5 {color: #67a62e;}
.list__mission ul li p {color: #666; font-size:0.875rem; line-height: 1.4;}

.box__slide {position: relative;}
.box__slide .slick-arrow {height: 2rem; width: 2rem; line-height: 2rem; border:1px solid #fff; border-radius:50%; position: absolute; bottom: 0.5rem; left:50%;}
.box__slide .slick-prev:before {content:"<"; margin-left: -3rem;}
.box__slide .slick-prev:before {content:"<"; margin-left: 3rem;}
.box__slide .slick-dots li {display:none; text-align: center;}
.box__slide .slick-dots li.slick-active {display: block;}