@charset "utf-8";

/* font */
@font-face {
    font-family:'NotoSansKR';
    font-weight:300;
    src: local(※),
        url('../font/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:400;
    src: local(※),
        url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:500;
    src: local(※),
        url('../font/NotoSansKR-Medium.woff2') format('woff2'),
        url('../font/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
    font-family:'NotoSansKR';
    font-weight:700;
    src: local(※),
        url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/LatoLatin-Regular.woff) format('woff');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../font/LatoLatin-Bold.woff) format('woff');
  text-rendering: optimizeLegibility;
}




/* reset */
body{font-family:Lato, "NotoSansKR", '맑은고딕', Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-size:13px; color:#666; width:100%; height:100%;letter-spacing:-1px;line-height:1.2;font-weight:300;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td, img{margin:0;padding:0; vertical-align:top; border:none;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}
table { border-collapse: collapse;}
.blind{overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}

/* Link Css */
a{cursor:pointer; overflow:hidden;color:#666;text-decoration:none}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:none;}
address {font-style:normal;}
button{cursor:pointer; border:none; background:none; padding:0; margin:0 auto;}

/* Blind */
.blind{position:absolute;width:0;height:0;font-size:1px;text-indent:-9999px;overflow:hidden;}

/* block */
img{display:block;}
:focus { outline: none; }



/* Slick Slider */ .slick-slider { position: relative;display: block; box-sizing: border-box;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;-webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }.slick-list { position: relative;display: block; overflow: hidden;margin: 0; padding: 0; } .slick-list:focus { outline: none; } .slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0;display: block; margin-left: auto; margin-right: auto; } .slick-track:before, .slick-track:after { display: table;content: ''; } .slick-track:after { clear: both; } .slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left;height: 100%; min-height: 1px; } [dir='rtl'] .slick-slide { float: right; } .slick-slide img { display: block; } .slick-slide.slick-loading img { display: none; } .slick-slide.dragging img { pointer-events: none; } .slick-initialized .slick-slide { display: block; } .slick-loading .slick-slide { visibility: hidden; } .slick-vertical .slick-slide { display: block;
height: auto;border: 1px solid transparent; float: none;} .slick-arrow.slick-hidden { display: none; }


.wrap {overflow-x:hidden;}
.inner {width: 1400px; margin: 0 auto;}
.inner:after {clear: both; display: block; content:"";}

header {position: relative;height: 94px; width: 100%; max-width:1920px; box-sizing:border-box;}
header:after {display: block; clear: both;content:"";}
header > .inner {width:100%;  }
header h1 {float: left; margin: 38px 0 0 50px;}
header h1 a {display: block;width:189px; height: 40px; background:url('../img/main/logo_w.png'); text-indent:-9999px; overflow:hidden;}
header .nav {height: 94px; overflow:hidden; float: left; width: 1005px; margin-left: 147px;}
header .nav ul li {float: left; line-height: 20px; }
header .nav ul li a {display: block; font-size:20px;width: 200px; text-align: center;height: 20px; padding: 42px 0 28px; color:#fff; transition: all .3s; border-bottom:4px solid rgba(0,0,0,0); font-weight: 600;}
header .nav ul li a:hover {border-bottom:4px solid rgba(255,255,255,255);}
header .util {width: 350px; float: right; margin-right: 50px; margin-top: 12px;}
header .util a {font-size:14px; color:#fff;}
header .etc {text-align: right;}
header .etc:after {clear: both; display: block; content:"";}

header ul.sns {display: inline-block;}
header ul.sns li { float:left;  width: 21px; height: 20px;  margin-left: 10px;}
header ul.sns li a {display: block; width: 21px; height: 20px;  background: url('../img/icon/set_white.png'); overflow:hidden; text-indent:30px;}
header ul.sns li:nth-child(1) a{margin-left: 0px;}
header ul.sns li:nth-child(2) a{background-position: -21px 0;}
header ul.sns li:nth-child(3) a{background-position: -42px 0;}
header ul.sns li:nth-child(4) a{background-position: -63px 0;}

header ul.info_h {display: inline-block; margin-top: 2px;  }
header ul.info_h li {display: inline-block; position: relative; padding: 0 10px;}
header ul.info_h li:before {content:""; position: absolute; left:0; top:4px; width:1px; height: 9px; background:#ddd;}
header ul.info_h li:first-child:before { width:0px; height: 0px; background:none;}
header ul.info_h li:last-child {padding:0 0 0 10px;}

header .member {margin-top: 8px; height: 28px;}
header .member ul.user {float: left;}
header .member ul.user li {float: left; height: 28px; line-height: 28px; padding: 0 10px; position: relative;}
header .member ul.user li a {}
header .member ul.user li:first-child {padding: 0; margin-right: 6px;}
header .member ul.user li:first-child a {display:block; width: 78px;  color:#fff; border-radius:14px; text-align: center; background:#67a62e ;}
header .member ul.user li:before {content:""; position: absolute; left:0; top:10px; width:1px; height: 9px; background:#ddd;}
header .member ul.user li:first-child:before,
header .member ul.user li:nth-child(2):before {content:""; position: absolute; left:0; top:5px; width:0px; height: 0px; background:none;}

header .member ul.user li.lang a {padding:0 20px 0 0; position: relative;}
header .member ul.user li.lang a:after {content:""; width: 10px; height: 18px;position: absolute; background: url('../img/icon/set_white.png'); background-position:-40px -20px; margin: 5px 0 0 8px;}

header .member .search {width: 18px; height: 18px; background: url('../img/icon/set_white.png'); background-position:-22px -20px; margin-top: 5px; margin-left: 17px;}
/*header .member .navAll {width: 22px; height: 18px; background: url('../img/icon/set_white.png'); background-position:0px -20px; margin-top: 5px; margin-left: 31px;}*/
 
header.bk {background: #fff;border-bottom:1px solid #eee;}
header.bk h1 a {background:url('../img/main/logo.png');}
header.bk ul.sns li a,
header.bk .member ul.user li.lang a:after,
header.bk .member .search,
header.bk .member .navAll {background-image:url('../img/icon/set_black.png');}
header.bk .nav ul li a,
header.bk .util a {color:#333;}

header.bk .nav ul li a.active {color:#004e96; border-bottom:4px solid #004e96;}
header.bk .nav ul li a:hover {border-bottom:4px solid #004e96;}

header .gnb_wp {width: 100%; height: 0px; background: #fff; overflow:hidden;-webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.1);-moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.1);box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.1);}
header .gnb_wp:after,
header .gnb_wp .gnb:after, 
header .gnb_wp .gnb .nav_wp:after {float:none; display:block; clear:both; content:"";}
header .gnb_wp .gnb {width: 1920px; height: 445px; margin: 0 auto; overflow:hidden;}
header .gnb_wp .gnb .call {float: left; width: 278px; margin-left: 108px;}
header .gnb_wp .gnb .call .recap {font-size:16px; font-weight: 600; color:#333; margin-top: 42px;}
header .gnb_wp .gnb .call .recap strong {font-size:42px; font-family: Lato; display: block;color:#004e96;}
header .gnb_wp .gnb .call ul {margin-top: 12px;}
header .gnb_wp .gnb .call ul li {font-size:18px; line-height: 44px; position: relative;}
header .gnb_wp .gnb .call ul li a {font-size:18px; position: relative; padding-left: 28px;}
header .gnb_wp .gnb .call ul li a:before {content:""; display: block; position: absolute;width: 24px; height: 24px;background-image:url('../img/icon/gnb_call.png'); background-repeat:no-repeat;left:0; top:2px;}
header .gnb_wp .gnb .call ul li:nth-child(2) a:before {background-position:-24px 0;}
header .gnb_wp .gnb .call ul li:nth-child(3) a:before {background-position:-48px 0;}
header .gnb_wp .gnb .nav_wp {float: left; border-left: 1px solid #eee;}
header .gnb_wp .gnb .nav_wp > ul {float: left; width: 200px; height: 445px; padding-top: 24px;border-right:1px solid #eee; box-sizing:border-box;}
header .gnb_wp .gnb .nav_wp > ul li {height: 44px; line-height: 44px;margin-left: 48px;}
header .gnb_wp .gnb .nav_wp > ul li a {font-size:16px; font-weight: 400; transition:all 0.3s; border-bottom:2px solid #fff; display: block;}
header .gnb_wp .gnb .nav_wp > ul li a:hover span {color:#004e96; font-weight: 600; border-bottom:2px solid #004e96;}
header .gnb_wp .gnb .rsv {float: left; width: 515px; height: 445px;background: #f9f9f9;}
header .gnb_wp .gnb .rsv .inner {width: 335px; margin: 0 auto; }
header .gnb_wp .gnb .rsv p {font-size:22px; font-weight: 600; text-align: center; color:#333; margin : 42px 0 17px;}
header .gnb_wp .gnb .rsv .inp-text {width: 100%; border:0; height: 48px; font-size:16px; box-sizing:border-box ; padding-left: 10px;} 
header .gnb_wp .gnb .rsv .inp-text label {font-size:16px;}
header .gnb_wp .gnb .rsv .inp-text + .inp-text {margin-left: 0px; margin-top: 12px;}
header .gnb_wp .gnb .rsv button {display: block;width: 192px; height: 56px; line-height: 56px;background: #67a62e; color:#fff; margin: 0 auto; border-radius:28px; font-size:20px; font-weight: 800; letter-spacing: -0.04em; margin-top: 30px;} 
header .gnb_wp .gnb .rsv .check {  width: 310px; margin: 30px auto 0;}
header .gnb_wp .gnb .rsv .inp-checkbox a {font-size:14px; font-weight: 600;text-decoration: underline; color:#333; position: absolute; right:0;}
header .gnb_wp .gnb .rsv .inp-checkbox a:after {content:">";}
header .gnb_wp .gnb .rsv .inp-checkbox input[type=checkbox]:not(old) + label {padding-left: 30px; font-size:16px; cursor:pointer;}
header .gnb_wp .gnb .rsv .inp-checkbox input[type=checkbox]:not(old) + label:after {width:20px ;height: 20px; background: #fff; border:1px solid #eee; top:7px;}
header .gnb_wp .gnb .rsv .inp-checkbox input[type=checkbox]:not(old):checked + label:after {background-image:url('../img/main/gnb_chk.png'); background-repeat:no-repeat; background-position:50% 50%; background-color: #67a62e;}

.footer .util {background: #3c4044; height: 40px; padding-top: 20px;}
.footer .util > .inner {width: 660px;}
.footer .util .title {float: left; font-size:16px; color:#fff; font-weight: 600;}
.footer .util ul {float: left; margin-left: 18px;}
.footer .util ul li {float: left; position: relative; padding: 0 18px;}
.footer .util ul li:before {content:""; position: absolute; left:0; top:5px; width:1px; height: 9px; background:#e0e0e0;}
.footer .util ul li a {color:#fff; font-size:16px;}

.footer .info {background: #32363a; padding: 30px 0;}
.footer .info .info_more {float: left; width: calc(100% - 396px);}
.footer .info .info_more ul li {float: left; padding: 0 18px; position: relative;}
.footer .info .info_more ul:after {clear: both; display: block; content:"";}
.footer .info .info_more ul li:first-child {padding: 0 18px 0 0 ;}
.footer .info .info_more ul li:before {content:""; position: absolute; left:0; top:3px; width:1px; height: 9px; background:rgba(255,255,255,.2);}
.footer .info .info_more ul li a {color:rgba(255,255,255,.6);}
.footer .info .info_more address  {margin-top: 28px; color:#fff;}
.footer .info .info_more small {margin-top: 14px; color:rgba(255,255,255,.6); display: block; letter-spacing: 0.1em;} 
.footer .info .info_site {float: right; width: 396px;}


.inp-radio + .inp-radio{margin-left:40px;}
.inp-radio input[type=radio]:not(old){margin:0;padding:0;opacity:0;z-index:-999;position:absolute;} 
.inp-radio input[type=radio]:not(old) + label{display:inline-block;padding-left:50px;position:relative;}
.inp-radio input[type=radio]:not(old) + label:after{display:inline-block;width:34px;height:34px;background:url(../img/common/icon.png) no-repeat -54px 0;position:absolute;top:8px;left:0;content:""}
.inp-radio input[type=radio]:not(old):checked + label:after{background:url(../img/common/icon.png) no-repeat 0 0;}
.inp-checkbox{font-size:18px;color:#333;line-height:34px;position: relative;}
.inp-checkbox input[type=checkbox]:not(old){margin:0;padding:0;opacity:0;z-index:-999;position:absolute;}
.inp-checkbox input[type=checkbox]:not(old) + label{display:inline-block;padding-left:50px;position:relative;}
.inp-checkbox input[type=checkbox]:not(old) + label:after{display:inline-block;width:34px;height:34px;background:url(../img/common/icon.png) no-repeat -54px -54px;position:absolute;top:0;left:0;content:""}
.inp-checkbox input[type=checkbox]:not(old):checked + label:after{background:url(../img/common/icon.png) no-repeat 0  -54px;}
.checkbox{width:34px;height:34px;}
.checkbox input[type=checkbox]:not(old){margin:0;padding:0;opacity:0;z-index:-10;} 
.checkbox input[type=checkbox]:not(old) + label{display:inline-block;position:relative;top:-12px;left:-12px;}
.checkbox input[type=checkbox]:not(old) + label:after{display:inline-block;width:34px;height:34px;background:url(../img/common/icon.png) no-repeat -54px -54px;position:absolute;top:0;left:0;content:""}
.checkbox input[type=checkbox]:not(old):checked + label:after{background:url(../img/common/icon.png) no-repeat 0  -54px;}

figure {margin: 0; padding: 0;}



.no-list {width: 100%; padding: 120px 0 ; font-size:20px; text-align: center;}
.medical07.medical-list li:hover .active-menu a img {margin: 0 auto;}

.medical07 li{background:url(../img/icon/medical_list03.png) no-repeat;}
.medical07 li.list02{background-position:-192px 0;}
.medical07 li.list03{background-position:-384px 0;}
.btn-red {color: #fff; background: #b83333;  }


@media only screen and (min-width: 1921px) {
	header {left:50%; margin-left: -960px;}
}

@media only screen and (max-width: 1880px) {
	header > .inner {width: 1440px;}
	header {min-width:1440px;}
	header h1 {margin: 38px 0 0 20px;}
	header .util {margin-right: 20px;}
	header .nav {width: 805px;margin-left: 20px;}
	header .nav ul li a {width: 160px;font-size:18px;} 
	header .gnb_wp .gnb .call {display: none;}
	header .gnb_wp .gnb {width: 1207px; position: relative; left:50%; margin-left: -492px;}
	header .gnb_wp .gnb .nav_wp > ul {width: 160px;}
	header .gnb_wp .gnb .nav_wp > ul li {margin-left: 32px;}
	header .gnb_wp .gnb .rsv {width: 406px;}
	header .gnb_wp .gnb .rsv .inner {width: 310px;}
}

@media only screen and (max-width: 1890px) {
}



.mt_0 {margin-top: 0px !important;}
.mt_10 {margin-top: 10px !important;}
.mt_20 {margin-top: 20px !important;}
.mt_24 {margin-top: 24px !important;}
.mt_45 {margin-top: 45px !important;}
.mt_48 {margin-top: 48px !important;}
.mt_70 {margin-top: 70px !important;}

.mb_0 {margin-bottom: 0px !important;}
.mb_20 {margin-bottom: 20px !important;}
.mb_70 {margin-bottom: 70px !important;}

.c_blue {color:#004e96;}
.c_grey {color:#888;}
.c_bk {color: #000;}

.p_0 {padding: 0px !important;}
.pv_20 {padding: 0 20px !important;}
.pl_20 {padding-left: 20px !important;}
.pb_70 {padding-bottom: 70px !important;}


.ta_l {text-align: left !important;}
.ta_c {text-align: center !important;}
.ta_r {text-align: right !important;}
.ta_j {text-align: justify !important;}

.lh_14 {line-height: 1.4 !important;}
.lh_16 {line-height: 1.6 !important;}
.lh_18 {line-height: 1.8 !important;}

.va_m {vertical-align: middle;}

.fs_16 {font-size:16px !important;}
.fs_18 {font-size:18px !important;}
.fs_20 {font-size:20px !important;}
.fs_34 {font-size:34px !important;}

.dis_ib {display: inline-block;}
.dis_b {display: block;}

.fl {float: left;}
.fr {float: right;}
.fw_4 {font-weight: 400 !important;}
 

.btn {display: inline-block; box-sizing:border-box; text-align: center;}
.btnS {height: 36px; line-height: 34px; min-width:110px; font-size:16px; font-weight: 600;}
.btn.blue-o {color:#004e96; border:1px solid #004e96;}
 


 /* ============================== style.css로 이동 */

.context .content-section:first-child h5 {padding-top: 50px;}
.context .content-section:first-child .text-wrap {padding: 50px 0 60px;}
.context .content-section:last-child {border-bottom: 0px;}
.INFO_main > ul:after {float:none; display:block; clear:both; content:"";}
.INFO_main > ul > li {float: left; width: calc(33.3333% - 16px);margin-right: 24px; margin-bottom: 24px; box-sizing:border-box; border:1px solid #eee; position: relative;}
.INFO_main > ul > li:nth-child(3n) {margin-right: 0px;}
.INFO_main > ul > li > a {display: block;height: 408px; }
.INFO_main > ul > li > a:before {width: 160px; height: 160px; display: block;background-image: url('../img/icon/info_gh.png'); content:""; position: relative; margin: 88px auto 45px;}
.INFO_main > ul > li:nth-child(2) a:before {background-position: -160px 0;}
.INFO_main > ul > li:nth-child(3) a:before {background-position: -320px 0;}
.INFO_main > ul > li:nth-child(4) a:before {background-position: -480px 0;}
.INFO_main > ul > li:nth-child(5) a:before {background-position: -640px 0;}
.INFO_main > ul > li:nth-child(6) a:before {background-position: -800px 0;}
.INFO_main > ul > li:nth-child(7) a:before {background-position: -960px 0;}
.INFO_main > ul > li:nth-child(8) a:before {background-position: -1120px 0;}
.INFO_main > ul > li:nth-child(9) a:before {background-position: -1280px 0;}
.INFO_main > ul > li > a > span {display: block; text-align: center; font-size:26px; font-weight: 600; color:#333;}
 
.INFO_main > ul > li .hid_m {position: absolute; width: 100%; height: 100%; background-color: #004e96; left:0; top:0; color:#fff; transition:all 0.3s; opacity:0;}
.INFO_main > ul > li .hid_m:after {position: absolute;background-image:url('../img/icon/info_hos.png'); background-repeat:no-repeat; width: 190px; height: 190px;content:""; display: inline-block; right: -15px;  bottom: -34px; }
.INFO_main > ul > li .hid_m h3 {display: inline-block; position: relative;color:#fff; font-size:34px; font-weight: 400; text-align: center; margin: 70px auto 20px; transform: translate(-50%, 0); left:50%;}
.INFO_main > ul > li .hid_m h3:before {background: url('../img/common/bubble.png'); width: 64px; height: 50px; position: absolute; display: block; content:""; left:-40px; top:-30px;}
.INFO_main > ul > li .hid_m ul li { text-align: center;}
.INFO_main > ul > li .hid_m ul li a {color:#fff; font-size:22px; text-align: center; line-height: 42px;}
.INFO_main > ul > li .hid_m.b2 h3 ,
.INFO_main > ul > li .hid_m.b3 h3 { margin:135px auto 20px ;}
.INFO_main > ul > li .hid_m.b4 h3 { margin:116px auto 20px ;}
.INFO_main > ul > li .hid_m.b2:after {background-position:-190px 0; }
.INFO_main > ul > li .hid_m.b3:after {background-position:-380px 0;}
.INFO_main > ul > li .hid_m.b4:after {background-position:-570px 0;}
.INFO_main > ul > li:hover  .hid_m  {opacity:1;}

.table-col.col2 tr td {width: 50%;}
.table-col tbody tr td ul {padding: 0 24px;}
.table-col tbody tr td ul li {text-align: left; padding-left: 11px; margin-bottom: 8px; font-size:18px; color: #333; position: relative;}
.table-col tbody tr td ul li > strong {color:#444; font-weight: 600;}
.table-col tbody tr td small > strong  {color:#666; font-weight: 600;}
.table-col tbody tr td ul li:before {content:"·"; display: inline-block; left: 0px; position: absolute;}
.table-col tbody tr td small {font-size:16px; text-align: left; display: block; padding-left: 24px; line-height: 1.6; color:#888; position: relative;}
.table-col tbody tr td ul li > small {padding-left: 0; left:-10px;}

.table-row.type2 table {border-top:1px solid #ddd;}
.table-row.type2 table tr th.row {min-width: 125px;  text-align: center;padding:15px 0; line-height: 1.4; vertical-align: middle; font-size: 16px;}
.table-row.type2 table tr th.row.s {width: 98px;}
.table-row.type2 table tr th.row strong {display: block;font-size:32px;}
.table-row.type2 table tr th.row figure img {margin:  25px auto 0;}
.table-row.type2 table tr th.row p{font-size:22px; width: 200px; padding: 0; margin: 15px auto 25px;  }
.table-row.type2 table tr td {vertical-align: middle;}
.table-row.type2 table tr td h6 {font-size:18px; font-weight: 600; color: #000; line-height: 1.6;}
.table-row.type2 table tr td h6 + p {line-height: 1.6;}

.table-row.type2 table tr td dl dd > ul {margin-top: 10px;}
.table-row.type2 table tr td dl dd > ul li {text-align: left; padding-left: 11px; margin-bottom: 8px; font-size:17px; color: #333; line-height: 1.4; margin-bottom: 3px;}
.table-row.type2 table tr td dl dd > ul li:before {content:"·"; display: inline-block; position: relative; left:-10px;}

.cList li {text-align: left; padding-left: 11px; margin-bottom: 8px; font-size:17px; color: #333; line-height: 1.4; margin-bottom: 3px;}
.cList li:before {content:"·"; display: inline-block; position: relative; left:-10px;}

.table-row.type2 table tr td dl:after {float:none; display:block; clear:both; content:"";}
.table-row.type2 table tr td dl {margin: 10px 0;}
.table-row.type2 table tr td dl dd {float: left;width: 33.3333%; padding-left: 25px; box-sizing:border-box;  height: 90px; position: relative;}
.table-row.type2 table tr td dl dd:after {content:""; display: block; width: 1px; height: 78px; background: #ddd; position: absolute; right:0 ; top:8px;}
.table-row.type2 table tr td dl dd:first-child { padding-left: 5px;}

.table-row.type2 table tr td dl dd:last-child:after {display: none;}

.table-row.type3 table tr th,
.table-row.type3 table tr td {border-right: 1px solid #ddd;}
.table-row.type3 table tr td:last-child {border-right: 0;}

.rsv-alert-wrap {margin: 24px 0 0;}
.rsv-alert-wrap:after {float:none; display:block; clear:both; content:"";}
.rsv-alert-wrap dl dt {float: left; width: 44%;}
.rsv-alert-wrap dl dt strong {display: block; font-size:16px; margin-bottom: 10px;}
.rsv-alert-wrap dl dt ul li {font-size:16px; margin-bottom: 5px;padding-left: 11px; color:#333;}
.rsv-alert-wrap dl dt ul li:before {content:"·"; display: inline-block; position: relative; left:-10px;}

.rsv-alert-wrap dl dd {float: right; width: 50%; background: #f7fafc; height: 118px; position: relative;}
.rsv-alert-wrap dl dd strong {font-size:20px; color:#333; }
.rsv-alert-wrap dl dd span {font-size:32px; font-family: Lato; color:#333; }
.rsv-alert-wrap dl dd .num:before {content:"·"; display: inline-block; position: relative; left:-10px;}
.rsv-alert-wrap dl dd .num { position: absolute; left:24px; top:38px;}
.rsv-alert-wrap dl dd .num strong,
.rsv-alert-wrap dl dd .num span {float: left;}
.rsv-alert-wrap dl dd .num strong {margin-top: 7px;}
.rsv-alert-wrap dl dd .num span {margin-left: 15px; font-weight: 600;}
.rsv-alert-wrap dl dd .num a {margin-left: 15px;}
.rsv-alert-wrap dl dd figure {position: absolute; right:10px; top:15px;}

.rsv-alert-wrap dl dt.w100 {float: none; width: 100%;}
.rsv-alert-wrap dl dt.w100 + dd,
.rsv-alert-wrap dl dt.w100 + dd + dd {width: calc(50% - 12px); height: 98px; margin-top: 48px;}
.rsv-alert-wrap dl dt.w100 + dd{float: left;}
.rsv-alert-wrap dl dt.w100 + dd .num,
.rsv-alert-wrap dl dt.w100 + dd + dd .num {top:28px;}
.rsv-alert-wrap dl dt.w100 + dd figure,
.rsv-alert-wrap dl dt.w100 + dd + dd figure {top:3px;}

.context.bt {border-top:1px solid #ddd;}
.text-wrap > ul {margin-top: 14px;}
.text-wrap > ul li {font-size:18px; margin-bottom: 10px; padding-left: 11px; color:#333;}
.text-wrap > ul li small {font-size:16px; display: block; padding-left: 4px; color:#888; margin-top: 7px;}
.text-wrap > ul li:before {content:"·"; display: inline-block; position: relative; left:-10px;}

.table-row table tbody th {}
.table-row table tbody td {vertical-align: middle;}
.table-row table tbody td > ul {padding: 15px 0;}
.table-row table tbody td > strong + ul {padding: 0;}
.table-row table tbody td > ul li {font-size:18px; margin-bottom: 10px; padding-left: 11px; color:#333; line-height: 32px;}
.table-row table tbody td > ul li:last-child {margin-bottom: 0px;}
.table-row table tbody td > ul li:before {content:"·"; display: inline-block; position: relative; left:-10px;}

.list-wrap {background:#f9f9f9; padding: 44px 32px; margin-top: 32px;}
.list-wrap ul {margin-top: 22px;}
.list-wrap ul li  {font-size:18px; margin-bottom: 10px; padding-left: 11px; color:#333;}
.list-wrap ul li:last-child {margin-bottom: 0px;}
.list-wrap ul li:before {content:"·"; display: inline-block; position: relative; left:-10px;}

.content-tit-sub {font-size:22px; color:#333;margin-bottom: 10px; padding-left: 6px;}
.content-tit-sub:before {content:"·"; display: inline-block; position: relative; left:-6px;}

.nurse-icon-wrap:after {float:none; display:block; clear:both; content:"";}
.nurse-icon-wrap li {width: 188px; height: 188px; border:1px solid #ddd; float: left; border-radius:50%; text-align: center; position: relative; background: url('../img/icon/medical_list01.png');overflow:hidden; margin-right: 24px;}
.nurse-icon-wrap li:last-child {margin-right: 0;}
.nurse-icon-wrap li:nth-child(1) {background-position: -770px -195px;}
.nurse-icon-wrap li:nth-child(2) {background-position: -385px -385px;}
.nurse-icon-wrap li:nth-child(3) {background-position: -771px -579px;}
.nurse-icon-wrap li:nth-child(4) {background-position: -195px -771px;}

.nurse-icon-wrap.v2 li:first-child {background-position: -770px -387px;}
.nurse-icon-wrap.v2 li:nth-child(2) {background-position: -963px -2px;}
.nurse-icon-wrap li span {display: block; font-size:20px;position: absolute; bottom:40px; text-align: center; width: 100%;}

.qna-wrap {margin-top: 48px;}
.qna-wrap h6 {font-size:20px; padding: 24px 0; position: relative; color:#000; font-weight: 400; border-bottom:1px solid #ddd; cursor:pointer; transition:all 0.3s;}
.qna-wrap h6:after {content:""; display: block; position: absolute; background: url('../img/icon/i_qna_arr.png'); background-position:0 -11px; width: 20px; height: 11px; right:30px; top:31px;}
.qna-wrap h6.ui-state-active {background-color: #4171a8; color:#fff;}
.qna-wrap h6.ui-state-active:after {background-position: 0 0;}
.qna-wrap h6:before {content:"Q"; display: inline-block; font-size:18px; position: relative; top:-2px; padding:0 24px 0 22px ;}
.qna-wrap > div {border-bottom:1px solid #ddd; padding: 36px 0;}
.qna-wrap > div p {font-size: 18px; position: relative; padding: 0 65px; line-height: 1.6;}
.qna-wrap > div p:before {content:"A"; display: inline-block; font-size:18px; position: absolute; top:-2px; left:22px;}

.content-section .text-wrap.w100,
.content-section .content-tit.w100 {display: block; width: 100%;}
.content-section .text-wrap.w100 {padding: 20px 0 70px;}

.vol-process-wrap { }
.vol-process-wrap ul {display: table; width: 100%; height: 100px;border:1px solid #ddd;}
.vol-process-wrap ul li {display: table-cell; width: 25%; border-right:1px solid #ddd; padding-left: 44px; vertical-align: middle;}
.vol-process-wrap ul li:last-child {border-right: none;}
.vol-process-wrap ul li .num {float: left; font-size:16px; text-align: center; color: #4171a8;}
.vol-process-wrap ul li .num strong {display: block; font-size:34px;}
.vol-process-wrap ul li p {float: left;font-size:22px;color:#333; position: relative;height: 59px; line-height: 59px; padding-left: 15px;}

.volunteer-wrap {background: url('../img/common/volunteer.jpg') no-repeat; background-position: right 0 top 50px; border-top:1px solid #ddd; padding :64px 0;}

.volunteer-wrap h5 {font-size: 28px; color: #333;}
.volunteer-wrap p {font-size: 18px; line-height: 1.8; margin-top: 12px;}

.btn.download {padding:0 50px 0 30px;background: url('../img/icon/download.png'); background-repeat:no-repeat; background-position: right 15px top 8px;}
.btn.download + .rsv-alert-wrap {margin: 0;}

.news-wrap {margin-top: 48px;}
.news-wrap.s {margin-top: 88px; }
.news-wrap:after {float:none; display:block; clear:both; content:"";}
.news-wrap li {float: left; width: 408px; margin-right: 24px; border:1px solid #ddd;  box-sizing:border-box; margin-bottom: 24px; position: relative;}
.news-wrap.s li {height: 654px;}
.news-wrap li figure img {width: 100%; height: 305px;}
.news-wrap li:nth-child(3n) {margin-right: 0;}
.news-wrap li figure img {width: 100%; height: 305px;}
.news-wrap.s li figure img { height: 220px;}
.news-wrap li div {padding: 38px 38px 42px;} 
.news-wrap li div h6 {font-size:26px; color:#333; height: 108px; overflow:hidden;}
.news-wrap li div p {font-size:18px; line-height: 1.4 ; height:60px; padding-bottom: 20px;overflow: hidden; margin :15px 0 35px;}
.news-wrap.s li div p { height: 220px; padding-bottom: 60px; line-height: 1.8; margin: 0 0 35px; overflow: hidden }
.news-wrap li div a {font-size:18px; font-weight: 600; border-bottom:1px solid #aaa; color: #333; display: inline-block; padding-bottom: 8px;}
.news-wrap.s li div a {float: right;}
.news-wrap.s li div a:after {float:none; display:block; clear:both; content:"";}
.news-wrap li .category {width: 80px; height: 80px; position: absolute; top:-40px; left:38px;display: table; padding: 0; background: #00baf2; z-index:4;}
.news-wrap li .category span {display: table-cell; text-align: center; vertical-align: middle; color:#fff; font-size:18px;}
.news-wrap li .title {position: absolute; background: rgba(0,0,0,.2); width: calc(100% - 76px); font-size:26px;height: 42px; line-height: 40px;padding: 140px 38px 38px 40px; top:0 ;left:0; color:#fff;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.tab_contents {padding: 24px 0 0;}
.tab_contents > p {padding: 48px; font-size:18px; line-height: 1.8; background:#fbfcfd ; }
.tab_contents dl {margin:64px 0 94px;}
.tab_contents dl:last-child {margin-bottom: 0;}
.tab_contents dl dt {position: relative;}
.tab_contents dl dt .category {width: 80px; height: 80px; position: absolute; top:-40px; left:38px;display: table; padding: 0; background: #fcaf15; z-index:4;}
.tab_contents dl dt .category span {display: table-cell; text-align: center; vertical-align: middle; color:#fff; font-size:18px;}

.tab_contents.s1  dl dt .category span {background: #004e96;}
.tab_contents.s2  dl dt .category span {background: #7fc241;}
.tab_contents dl dt .title {color:#fff; font-size:26px; position: absolute; top:110px; left:48px; line-height: 1.6;}
.tab_contents dl dd {padding: 48px;border:1px solid #ddd;}
.tab_contents dl dd p {padding-bottom: 8px;font-size:18px; line-height: 1.7; text-align: justify;  color: #333;}

.tab_sub_dep2 > ul {text-align: center; margin-top: 48px;}
.tab_sub_dep2 > ul li {display: inline-block; padding:  0 30px; font-size:18px; position: relative;}
.tab_sub_dep2 > ul li a {display: inline-block; padding: 4px 0;}
.tab_sub_dep2 > ul li:after {content:"";  width: 1px ; height: 10px ; background: #888; display: block; position: absolute; right:0; top:5px;}
.tab_sub_dep2 > ul li:last-child:after {display: none;}

.tab_sub_dep2 > ul li.ui-tabs-active a {border-bottom:1px solid #333; font-weight: 600; color:#000;}

.tab_contents:after {float:none; display:block; clear:both; content:"";}
.tab_contents dl.col2 {width: calc(50% - 12px); margin-right: 24px; float: left;}
.tab_contents dl.col2:last-child {margin-right: 0; float: right;}

.floor-wrap {margin-top: 48px;}
.floor-wrap > ul:after {float:none; display:block; clear:both; content:"";}
.floor-wrap > ul li {float: left; width: 10%; }
.floor-wrap > ul li a figure img {margin:  0 auto;}
.floor-wrap > ul li a span {display: block; text-align: center; font-size:18px; margin-top: 12px;}

.floor-detail-wrap  { margin-top: 26px; }
.floor-detail-wrap:after {float:none; display:block; clear:both; content:"";}
.floor-detail-wrap  > ul {float: left;background: #f5f5f5;height: 571px; width: 90px; padding-top: 24px;}
.floor-detail-wrap  > ul li {width: 48px; height: 48px; line-height: 48px; border-radius:50%; background: rgba(0,0,0,0); text-align: center; margin: 2px auto;}
.floor-detail-wrap  > ul li a {font-size:18px;}
.floor-detail-wrap  > ul li.ui-tabs-active {background:#004e96 ; }
.floor-detail-wrap  > ul li.ui-tabs-active a {color:#fff; font-weight: 600;}
.floor-detail-wrap .in_floor {float: left; background: #004e96; height: 595px; width: 268px;}
.floor-detail-wrap .in_floor > ul {margin-top: 24px;}
.floor-detail-wrap .in_floor > ul li a {color:rgba(255,255,255,0.7); text-align: center; display: block; height: 52px; line-height: 52px; font-size:16px;}
.floor-detail-wrap .in_floor > ul li.active a {color:#fff; font-size:20px; font-weight: 600;}

.conv-wrap:after {float:none; display:block; clear:both; content:"";}
.conv-wrap li {float: left; width: calc(25% - 18px); margin-right: 24px;}
.conv-wrap li:nth-child(4n) {margin-right: 0;}
.conv-wrap li figure {width: 100%; height: 224px ; border:1px solid #ddd; box-sizing:border-box; background: url('../img/common/cv.png');}
.conv-wrap li:nth-child(2) figure {background-position: -298px 0;}
.conv-wrap li:nth-child(3) figure {background-position: -596px 0;}
.conv-wrap li:nth-child(4) figure {background-position: -894px 0;}
.conv-wrap li:nth-child(5) figure {background-position: -1192px 0;}
.conv-wrap li:nth-child(6) figure {background-position: -1490px 0;}
.conv-wrap li:nth-child(7) figure {background-position: -1788px 0;}
.conv-wrap li:nth-child(8) figure {background-position: -2086px 0;}
.conv-wrap li div {margin-top: 24px; height: 220px;}
.conv-wrap li div h6 {font-size:22px; margin-bottom: 12px; color:#333;}
.conv-wrap li div p {line-height: 1.6; font-size:18px;}

.table-col.notice th {color:#666;}
.table-col.notice tbody tr td:nth-child(2) {padding-left: 24px; text-align: left;}
.table-col.notice tbody tr td:nth-child(2) strong {color:#222; font-weight: 600;}
.table-col.notice tbody tr td:nth-child(2) strong:after {content:"N"; font-weight: 400; font-size:12px;display: inline-block; width: 18px; line-height: 18px; height: 18px; background: #004e96; color:#fff; position: relative; text-align: center; text-indent: -1px; margin-left: 8px; top:-4px;}

.board-view.notice .board-view-title {padding: 40px 0;}
.board-view.notice .board-view-title .title{padding-left: 24px;}
.board-view.notice .board-view-title .date {margin-left: 24px;}
.board-view.notice .board-view-content {padding: 50px 24px;}

.board-post {border-top:1px solid #ddd;margin-top: 60px;}
.board-post dl { border-bottom:1px solid #ddd; height: 65px; line-height: 65px;}
.board-post dl dt, .board-post dl dd {float: left; font-size:18px;}
.board-post dl dt {padding-left: 24px; width: 70px; color:#888888;}
.board-post dl dd {width: 1175px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.table-col.map tbody tr td:first-child > figure {width: 48px; float: left; margin-right: 12px; margin-left: 48px; }
.table-col.map tbody tr td > span {float: left; height: 48px; line-height: 48px;}
.table-col.map tbody tr td > ul li strong {color:#004e96; display: inline-block; padding-right: 10px;}
.table-col.map tbody tr td > ul.split li:after {float:none; display:block; clear:both; content:"";}
.table-col.map tbody tr td > ul.split li strong {float: left; width: 75px; }
.table-col.map tbody tr td > ul.split li span {float: left; width: calc(100% - 90px);}

#map:after {float:none; display:block; clear:both; content:"";}
#map ul {float: right; margin-top: 24px;}
#map ul li {float: left;}
#map ul li a {height: 36px ; line-height: 36px; padding: 0 24px; font-size:16px; display: block; background:#258fff ; color:#fff; font-weight: 600; margin-right: 12px;}
#map ul li:last-child a {background:#00c73c ; margin-right: 0;} 

.info-area {border-top:1px solid #ddd; border-bottom: 1px solid #ddd;height: 80px;padding: 65px 85px 65px 95px; margin-bottom: 48px;}
.info-area:after {float:none; display:block; clear:both; content:"";}
.info-area .call {float: left;width: 360px; padding-left: 110px; background: url('../img/common/img_rsv_ph.png') no-repeat; height: 80px; }
.info-area .call span {font-size:20px; display: inline-block; margin-top: 26px; color:#000;}
.info-area .call strong {font-size:35px; display: inline-block; margin-left: 15px; position: relative; top:4px; color:#000;}
.info-area .info {float: right; width: 570px;}
.info-area .info ul:after {float:none; display:block; clear:both; content:"";}
.info-area .info ul li {float: left; height: 24px; line-height: 24px; font-size:18px; margin-right: 16px;}
.info-area .info ul li span {float: left; width: 24px; height: 24px; line-height: 24px;background: #4171a8; color:#fff; border-radius:50%; text-align: center; display: inline-block; margin-right: 3px;}
.info-area .info p {font-size:16px; margin-top: 24px;}

.dp_order {text-align: center; margin-top: 48px;}
.dp_order ul {display: inline-block;}
.dp_order ul li {position: relative;}
.dp_order ul li:after {content:""; width: 1px; height: 10px; position: absolute; background:#888 ;right:0; top:8px; display: block;}
.dp_order ul li:last-child:after {display: none;}
.dp_order ul li a.active {color:#004e96; font-weight: 600;}
.dp_order ul li {display: inline-block; padding: 0 22px; font-size:20px;}


.timeline {margin-top: 50px;}
.timeline dl dt {width: 104px; line-height: 104px; height: 104px; background: #004e96; border-radius:50%; color:#fff; font-size:22px; text-align: center; display: block; position: relative; left:50%; margin-left: -52px;}
.timeline dl dd { position: relative; left:50%; }
.timeline dl dd ul {border-left:1px solid #eee; padding:44px 0;}
.timeline dl dd ul li {margin-bottom: 36px; position: relative; width: 50%;}
.timeline dl dd ul li:after {content:""; clear: both;display: block; float: none;}
.timeline dl dd ul li:before {content:""; width:15px; height: 15px; background: #fff; border:1px solid #ddd; display: block; position: absolute; left:-9px; top:6px;  border-radius:50%;}
.timeline dl dd ul li:last-child {margin-bottom: 0px;}
.timeline dl dd > ul li span,
.timeline dl dd > ul li p  {font-size:20px; line-height: 28px; display: block; position: relative;}
.timeline dl dd > ul li span {float: left;color: #004e96; width: 95px; text-align: right;}
.timeline dl dd > ul li span:before {content:""; width:30px; height: 1px; background: #ddd; display: block; position: absolute; left:8px; top:14px;}
.timeline dl dd > ul li span:after {content:""; width:11px; height: 11px; background: #004e96; display: block; position: absolute; left:39px; top:9px;  border-radius:50%;}
.timeline dl dd > ul li p {float: right; color:#222; width: calc(100% - 125px);}


.timeline dl dd > ul li:nth-child(even) { left:-50%;}
.timeline dl dd > ul li:nth-child(even):before {left:calc(100% - 9px);}
.timeline dl dd > ul li:nth-child(even) span {float: right; text-align: left;}
.timeline dl dd > ul li:nth-child(even) span:before {left:calc(100% - 38px);}
.timeline dl dd > ul li:nth-child(even) span:after {    left: 46px;}
.timeline dl dd > ul li:nth-child(even) p {text-align: right; float: left;}
.timeline dl dd:last-child > ul {padding: 44px 0 0;}
/* style.css로 이동 ============================*/